Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

poc with platform as a menu and as command
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/poc_platform_equity_controller.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

paths feature
  argparse_translator/argparse_class_processor.py
  openbb_terminal/poc_platform_equity_controller.py
Due: pylint, reserved_args

NA -> N/A
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
Due: pylint

units_measurement -> unit_measurement
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_performance.py
Due: pylint

most of fixed income nomralized.
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/fed_rates.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow_as_reported.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/treasury_rates.py
  openbb_platform/providers/fred/openbb_fred/models/ameribor_rates.py
  openbb_platform/providers/fred/openbb_fred/models/cp.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/ecb_interest_rates.py
  openbb_platform/providers/fred/openbb_fred/models/estr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/fed_rates.py
  openbb_platform/providers/fred/openbb_fred/models/ffrmc.py
  openbb_platform/providers/fred/openbb_fred/models/hqm.py
  openbb_platform/providers/fred/openbb_fred/models/iorb_rates.py
  openbb_platform/providers/fred/openbb_fred/models/moody.py
  openbb_platform/providers/fred/openbb_fred/models/sofr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/sonia_rates.py
  openbb_platform/providers/fred/openbb_fred/models/spot.py
  openbb_platform/providers/fred/openbb_fred/models/tbffr.py
  openbb_platform/providers/fred/openbb_fred/models/tmc.py
  openbb_platform/providers/fred/openbb_fred/models/us_yield_curve.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
Due: pylint

tutorial excel videos in
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/installation.md
  website/content/excel/getting-started/templates.mdx
Due: none

fix on the show method
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

adding the example to the to_chart docstring
  openbb_platform/obbject_extensions/charting/charting/__init__.py
Due: pylint

copying the exsting README from charting extension - needs to be revamped
  openbb_platform/obbject_extensions/charting/README.md
Due: none

update the pyproject.toml file
  openbb_platform/dev_install.py
  openbb_platform/obbject_extensions/charting/pyproject.toml
Due: pylint

removing changes on static assets
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint

convert intrinio balance sheet values to float type
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Due: pylint

gov us removal
  openbb_platform/dev_install.py
Due: pylint

unused import
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Due: pylint

deprecate index.market and add index.price.historical
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/__init__.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
Due: pylint

add index.historical standard model
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
Due: pylint

add index.historical provider models
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
Due: pylint

Excel tutorials on the docs (#5956)
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/installation.md
  website/content/excel/getting-started/templates.mdx
  website/content/excel/reference/_category_.json
  website/content/pro/tutorials/_category_.json
  website/content/pro/tutorials/ai.md
  website/content/pro/tutorials/bring-data.md
  website/content/pro/tutorials/data-to-charts.md
  website/content/pro/tutorials/index.md
  website/content/pro/tutorials/layouts-watchlist.md
  website/content/pro/tutorials/overlay.md
  website/content/pro/tutorials/report.md
  website/content/pro/workflows/_category_.json
Due: none

index extension tests
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
Due: pylint

provider tests
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_index_historical_fetcher.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_active_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_aggressive_small_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_gainers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_growth_tech_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_index_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_losers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_growth_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_large_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

typo in alias dict
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Due: pylint

hotfix/float-values: Convert Intrinio balance sheet values to float type (#5961)
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Due: pylint

move government-us to community in dev_install
  openbb_platform/dev_install.py
Due: pylint

update dev_install
  openbb_platform/dev_install.py
Due: pylint

Update to OpenBB Add-in for Excel
  website/content/excel/_category_.json
  website/content/excel/getting-started/installation.md
  website/content/excel/index.md
  website/sidebars.js
  website/src/theme/DocSidebarItem/Category/index.js
Due: none

add csv cache + make it default. remove pyarrow from poetry
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/oecd/pyproject.toml
Due: pylint

add custom headers
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/model/fast_api_settings.py
Due: pylint

fix name header
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/formula_builder.md
  website/content/excel/getting-started/installation.md
  website/content/excel/getting-started/templates.mdx
  website/content/excel/index.md
Due: none

Update to OpenBB Add-in for Excel (#5965)
  website/content/excel/_category_.json
  website/content/excel/getting-started/installation.md
  website/content/excel/index.md
  website/sidebars.js
  website/src/theme/DocSidebarItem/Category/index.js
Due: none

fix: send on startup and defaults
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/model/fast_api_settings.py
Due: pylint

pylint
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

unittests
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

Log custom headers (#5966)
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/model/fast_api_settings.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

move government-us to community in dev_install (#5963)
  openbb_platform/dev_install.py
Due: pylint

linting
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
Due: pylint

fix: adds logic to check whther user is logged in on hub (#5941)
  website/src/theme/Root.tsx
Due: none
