Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

screenshots.md
  website/content/cli/quickstart.md
Due: none

left spacing regardless description
  cli/openbb_cli/config/menu_text.py
Due: pylint

display cached results on every platform menu's help
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

display info instead of sections and display cached results
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

prepend OBB to use on the --data
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

config to set number of cached results to display
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/models/settings.py
Due: pylint, reserved_args

update sec toml
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Due: none

dash not underscore
  openbb_platform/providers/sec/pyproject.toml
Due: none

fix currency search
  openbb_platform/core/openbb_core/provider/standard_models/currency_pairs.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_pairs.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/currency_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Due: pylint

test artifact
  openbb_platform/providers/intrinio/openbb_intrinio/models/currency_pairs.py
Due: pylint

static files
  openbb_platform/core/openbb_core/provider/standard_models/currency_pairs.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
Due: pylint

[BugFix] Fix Currency Search (#6380)
  openbb_platform/core/openbb_core/provider/standard_models/currency_pairs.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_pairs.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/currency_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Due: pylint

[BugFix] Update SEC pyproject.toml (#6379)
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Due: none

chart execution to not break the whole call
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

reference
  openbb_platform/openbb/assets/reference.json
Due: none

pylint: disable=broad-exception-caught
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

fix links
  website/content/cli/usage/overview/index.mdx
Due: none

correct hub link
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

new cards for cli pages
  website/src/components/General/NewReferenceCard.tsx
Due: none

cli fix: if the argument is required (aka standard) it means we don't want to touch it, unless choices need to be added
  cli/openbb_cli/argparse_translator/argparse_translator.py
Due: pylint

fix fmp
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_historical_fetcher.yaml
Due: pylint

cli fix: touch the help message (with the available providers) only if it's not on the signature (aka standard field)
  cli/openbb_cli/argparse_translator/argparse_translator.py
Due: pylint

feat: create scripts to generate repo assets
  assets/README.md
  assets/extensions.json
  assets/generate_assets.py
  assets/obbject_extensions.json
  assets/providers.json
  openbb_platform/assets/providers.json
  openbb_platform/core/openbb_core/app/model/extension.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

move script
  assets/scripts/generate_assets.py
Due: pylint

da3: fix DocSearch
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/theme/CodeBlock/Content/String.js
  website/src/theme/Navbar/Content/index.js
  website/src/theme/SearchBar/index.js
Due: none

publish.md
  build/pypi/openbb_platform/PUBLISH.md
Due: none

deletes unmaintained .md files
  openbb_platform/EXTENSIONS.md
  openbb_platform/PROVIDERS.md
Due: none

ruff
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
Due: pylint

pylint
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
Due: pylint

put search back
  website/src/theme/SearchBar/index.js
Due: none

fix: website urls
  assets/providers.json
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

fix: website urls
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
Due: pylint

rename script
  assets/scripts/generate_extension_data.py
  build/pypi/openbb_platform/PUBLISH.md
Due: pylint

renames
  assets/README.md
  assets/provider_extensions.json
  assets/router_extensions.json
  assets/scripts/generate_extension_data.py
Due: pylint

create folder
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
Due: pylint

mypy
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

da3: fix details / summary
  website/content/bot/faqs.md
  website/content/bot/usage/telegram.md
  website/content/excel/help.md
  website/content/platform/faqs/data_providers.md
  website/content/sdk/data-available/crypto/index.md
  website/content/sdk/faqs/bugs_support_feedback.md
  website/content/sdk/faqs/data_sources.md
  website/content/sdk/faqs/developer_issues.md
  website/content/sdk/faqs/general_operation.md
  website/content/sdk/faqs/import_errors.md
  website/content/sdk/faqs/installation_updates.md
  website/content/sdk/usage/api-keys.md
  website/content/terminal/faqs/bugs_support_feedback.md
  website/content/terminal/faqs/data_sources.md
  website/content/terminal/faqs/developer_issues.md
  website/content/terminal/faqs/general_operation.md
  website/content/terminal/faqs/installation_updates.md
  website/content/terminal/faqs/launching.md
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/source.md
  website/content/terminal/installation/windows.md
  website/content/terminal/usage/data/api-keys.md
  website/content/terminal/usage/outputs/interactive-charts.md
  website/content/terminal/usage/outputs/interactive-tables.md
Due: none

make paper_bgcolor transparent in PyWry backend
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint

black
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint
