Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

better warnings
  openbb_terminal/rich_config.py
Due: pylint

remove commands and menus str and show warnings if dev mode
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

Add pull_request trigger for release branches in API Integration Tests workflow
  .github/workflows/platform-api-integration-test.yml
Due: none

Add pull_request trigger for release branches in API Integration Tests workflow (#6278)
  .github/workflows/platform-api-integration-test.yml
Due: none

fix: serialize response before fastapi
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

Moved the data connectors to their own file
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

Andrew fixes
  website/content/pro/data-connectors/native-integrations.md
Due: none

feat: pass metadata through AnnotatedData
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/abstract/annotated_data.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
Due: pylint

fix: serialize response before fastapi (#6279)
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

fix: typing
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
Due: pylint

fix: rename AnnotatedData to AnnotatedResult
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/abstract/annotated_result.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
Due: pylint

fix: mypy
  openbb_platform/providers/fred/openbb_fred/models/series.py
Due: pylint

router example description
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

drop 'provider' in to_df
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
Due: pylint

Update native-integrations.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

PyDocstyle Compliant batch 1
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/extensions/regulators/openbb_regulators/__init__.py
  openbb_platform/extensions/regulators/openbb_regulators/cftc/cftc_router.py
  openbb_platform/extensions/regulators/openbb_regulators/sec/__init__.py
  openbb_platform/extensions/regulators/openbb_regulators/sec/sec_router.py
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/technical/openbb_technical/helpers.py
  openbb_platform/extensions/technical/tests/test_technical_helpers.py
Due: pylint

Batch 2
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Due: pylint

some review things
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

Added data connector docs
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

codespell
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

pylint
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

update field
  openbb_platform/core/openbb_core/provider/standard_models/forward_eps_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/forward_sales_estimates.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
Due: pylint

[Feature] - Annotated results (#6282)
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/abstract/annotated_result.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
Due: pylint

apply metadata update
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

unused import
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

typing things
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

update example notebook syntax for metadata change
  examples/usdLiquidityIndex.ipynb
Due: none

First try
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
Due: pylint

[Feature] - Merge reference.json and extension_map.json, plus documentation generator fixes (#6268)
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/version.py
  openbb_platform/core/tests/app/static/test_app_factory.py
  openbb_platform/core/tests/app/static/test_coverage.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/reference.json
  openbb_platform/tests/test_extension_map.py
  website/generate_platform_v4_markdown.py
Due: pylint

add routers to reference.json
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

fix apploader
  openbb_platform/core/openbb_core/api/app_loader.py
Due: pylint

add some router descriptions
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_router.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/regulators/openbb_regulators/regulators_router.py
Due: pylint

get command descriptions from the translators instead
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

rebuild
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
Due: pylint

remove pydocstyle fixes
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
Due: pylint

minor fix
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Add username in brackets if logged in
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

docstring
  openbb_platform/core/openbb_core/app/router.py
Due: pylint

fix buggy command descriptions
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args
