Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

hotfix/fix-company-filings: Fixes too many mandatory fields. (#5909)
  openbb_platform/core/openbb_core/provider/standard_models/company_filings.py
Due: pylint

adding subcontrollers
  openbb_terminal/base_platform_controller.py
  openbb_terminal/poc_platform_equity_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

`equity.estimates.price_target` - Integrate with Benzinga (#5946)
  openbb_platform/core/openbb_core/provider/standard_models/price_target.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target_consensus.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/benzinga/openbb_benzinga/utils/helpers.py
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_price_target_fetcher.yaml
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
Due: pylint

financial ratios
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
Due: pylint

static packages as core only
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
Due: pylint

add to gitignore excel reference files
  .gitignore
Due: none

add markdown generated files for platform to gitignore
  .gitignore
Due: none

add sdk reference to gitignore
  .gitignore
Due: none

remove widgets-library for pro which is generated automatically
  website/content/pro/widgets-library/_category_.json
Due: none

add pro widgets-library autogenerated md files to gitignore
  .gitignore
Due: none

add terminal reference markdown files to gitignore
  .gitignore
Due: none

fmp fields
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/institutional_ownership.py
  openbb_platform/core/openbb_core/provider/standard_models/key_metrics.py
  openbb_platform/core/openbb_core/provider/standard_models/moody.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/models/risk_premium.py
  openbb_platform/providers/fmp/openbb_fmp/models/share_statistics.py
Due: pylint

[DEPRECATION] `index.market` renamed to `index.price.historical` (#5962)
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/__init__.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_index_historical_fetcher.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_active_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_aggressive_small_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_gainers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_growth_tech_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_index_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_losers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_growth_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_large_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

fixing posthog handler for thread safety
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: pylint

bug fix
  website/src/theme/Root.tsx
Due: none

bug fix (#5969)
  website/src/theme/Root.tsx
Due: none

move templates
  website/content/excel/templates.mdx
Due: none

fix effr test
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
Due: pylint

Update dev_install.py
  openbb_platform/dev_install.py
Due: pylint

fix fundamental balance test
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

fix equity price historical test
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

fix price target model
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
Due: pylint

black
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
Due: pylint

rebuild static files
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
Due: pylint

update publish.md
  build/pypi/openbb_platform/PUBLISH.md
Due: none

fixed dev_install
  openbb_platform/dev_install.py
Due: pylint

update publishing doc
  build/pypi/openbb_platform/PUBLISH.md
Due: none

updated `openbb-core` to 1.1.1
  openbb_platform/core/pyproject.toml
Due: none

updated extensions
  openbb_platform/extensions/charting/poetry.lock
  openbb_platform/extensions/charting/pyproject.toml
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/currency/pyproject.toml
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/equity/pyproject.toml
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/fixedincome/pyproject.toml
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/index/pyproject.toml
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/news/pyproject.toml
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/quantitative/pyproject.toml
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/regulators/pyproject.toml
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/extensions/technical/pyproject.toml
Due: none

updated `openbb` package
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Due: none

updated static extension map
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/extension_map.json
Due: pylint

updated publishing doc
  build/pypi/openbb_platform/PUBLISH.md
Due: none

fixed toml for `openbb-finra`
  openbb_platform/pyproject.toml
Due: none

move templates (#5970)
  website/content/excel/templates.mdx
Due: none
