Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

[BugFix] Merge Fix FMP Intraday (#6229) From Main (#6235)
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Due: pylint

first batch
  openbb_platform/core/openbb_core/app/model/example.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/core/openbb_core/provider/standard_models/spot.py
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
Due: pylint

fix: broken signature typing (#6238)
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Due: pylint

command descriptions
  openbb_terminal/base_platform_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/rich_config.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

menu descriptions
  openbb_terminal/rich_config.py
Due: pylint

removing interactive tables
  openbb_terminal/helper_funcs.py
Due: pylint

limit the number of columns and rows
  openbb_terminal/helper_funcs.py
Due: pylint

Allow kwargs on POST endpoints
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

show indexes
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Add Native Integrations Documentation
  website/content/pro/main-menu/data-connectors/integrate-your-own-backend.md
Due: none

Update integrate-your-own-backend.md
  website/content/pro/main-menu/data-connectors/integrate-your-own-backend.md
Due: none

[Feature] - Warn if inexistent kwargs (#6236)
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/user_settings.py
  openbb_platform/core/openbb_core/app/query.py
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_query.py
Due: pylint

Add Native Integrations Documentation (#6241)
  website/content/pro/main-menu/data-connectors/integrate-your-own-backend.md
Due: none

Allow kwargs on POST endpoints (#6240)
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

another
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/test_utils.py
Due: pylint

renames
  .github/PULL_REQUEST_TEMPLATE/terminal_pull_request_template.md
  .github/pull_request_template.md
  .github/workflows/README.md
  build/README.md
  build/nsis/license.txt
  frontend-components/plotly/src/utils/utils.ts
Due: none

another
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/tests/app/test_platform_router.py
Due: pylint

another batch unyped defs
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/core/openbb_core/app/model/abstract/singleton.py
  openbb_platform/core/openbb_core/app/model/metadata.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/core/tests/app/model/abstract/test_tagged.py
  openbb_platform/core/tests/app/model/hub/test_hub_session.py
  openbb_platform/core/tests/app/model/test_defaults.py
  openbb_platform/core/tests/provider/abstract/test_query_params.py
  openbb_platform/core/tests/provider/utils/test_client.py
  openbb_platform/core/tests/provider/utils/test_helpers.py
Due: pylint

final untyped defs
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/metadata.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/core/tests/api/test_dependency/test_coverage.py
  openbb_platform/core/tests/api/test_dependency/test_system.py
  openbb_platform/core/tests/app/logs/formatters/test_formatter_with_exceptions.py
  openbb_platform/core/tests/app/logs/test_handlers_manager.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
  openbb_platform/core/tests/app/logs/utils/test_expired_files.py
  openbb_platform/core/tests/app/model/abstract/test_warning.py
  openbb_platform/core/tests/app/model/charts/test_chart.py
  openbb_platform/core/tests/app/model/test_command_context.py
  openbb_platform/core/tests/app/model/test_metadata.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/core/tests/app/model/test_system_settings.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_filters.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/core/tests/app/test_extension_loader.py
  openbb_platform/core/tests/app/test_utils.py
  openbb_platform/core/tests/provider/abstract/test_data.py
  openbb_platform/core/tests/provider/abstract/test_provider.py
  openbb_platform/core/tests/provider/standard_models/test_standard_models.py
  openbb_platform/core/tests/provider/utils/test_client.py
Due: pylint

update yml
  .github/workflows/linting.yml
Due: none

pylint
  openbb_platform/core/openbb_core/provider/utils/helpers.py
Due: pylint

improve historical prices charts
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/colors.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

ruff
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/custom_indicators_plugin.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/momentum_plugin.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/overlap_plugin.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/trend_indicators_plugin.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/volatility_plugin.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/plugins/volume_plugin.py
Due: pylint

correction in docstring.
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

forgot crypto in the router
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

pylint
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

that one shouldn't have changed.
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

update website to remove the main menu from pro level
  website/content/excel/data-connectors.md
  website/content/pro/charting.md
  website/content/pro/data-connectors/_category_.json
  website/content/pro/data-connectors/index.md
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
  website/content/pro/data-connectors/single-widget.md
  website/content/pro/getting-started/_category_.json
  website/content/pro/getting-started/free-trial.md
  website/content/pro/getting-started/index.md
  website/content/pro/homepage.md
  website/content/pro/index.md
  website/content/pro/main-menu/_category_.json
  website/content/pro/main-menu/index.md
  website/content/pro/news.md
Due: none

pylint again
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

and black
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

add flag for heikin_ashi
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

better kwarg
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

ruff
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

tests
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
Due: pylint

[BugFix] Return FMP Error Messages (#6237)
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/executive_compensation.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_splits.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/providers/fmp/openbb_fmp/models/analyst_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_filings.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_countries.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_equity_exposure.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target_consensus.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_valuation_multiples_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_key_metrics_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Due: pylint

remove unused files
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/miscellaneous/models/local_credentials.json
  openbb_terminal/miscellaneous/portfolio/allocation_example.xlsx
  openbb_terminal/miscellaneous/portfolio/holdings_example.xlsx
  openbb_terminal/miscellaneous/portfolio/parameters_template.xlsx
  openbb_terminal/miscellaneous/sources/openbb_default.json
Due: none

remove session stuff
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
Due: pylint, reserved_args
