Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

validator that shouldn't exist
  openbb_platform/core/openbb_core/provider/standard_models/gdp_nominal.py
Due: pylint

get_params
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

Add TODO in command_runner.py
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

export functionality
  openbb_terminal/base_platform_controller.py
  openbb_terminal/helper_funcs.py
Due: pylint, reserved_args

update rich
  poetry.lock
  pyproject.toml
Due: none

duplicated warning
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

if the event loop was closed - create a new one to process the image
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint

fix: ensure var_kw args come last in signatures
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

remove package builder change
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Update package_builder.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

[BugFix] No event loop when exporting images (#6249)
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

update wf file
  .github/workflows/platform-api-integration-test.yml
Due: none

fix: warn only when ExtraParams
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

update example routine
  openbb_terminal/miscellaneous/routines/routine_example.openbb
Due: none

fix issues with queue
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

temporary workaround for username
  openbb_terminal/parent_classes.py
Due: pylint

deprecate main menu commands
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Due: pylint, reserved_args

deprecate commands and remove unused stuff
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

deprecate commands and remove unused stuff
  openbb_terminal/core/completer/choices.py
Due: pylint

track VAR_KEYWORD
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

minor fix
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

type Any if no type provided
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

minor fix
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

fix test
  openbb_platform/core/tests/app/test_command_runner.py
Due: pylint

fix: _as_dict
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

ruff
  openbb_platform/core/tests/app/test_command_runner.py
Due: pylint

Update platform-api-integration-test.yml
  .github/workflows/platform-api-integration-test.yml
Due: none

set kwargs with default state in Fast API
  openbb_platform/core/openbb_core/api/router/commands.py
Due: pylint

add **extra_params
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/performance/performance_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

add generic line chart method for unsupported endpoints and external data
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

return None when render
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

query params
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

don't add volume to candle legend
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

[BugFix] - Fix integration tests workflow file (#6251)
  .github/workflows/platform-api-integration-test.yml
Due: none

better moving averages
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
Due: pylint

small improvement
  openbb_platform/providers/intrinio/openbb_intrinio/models/zacks_sales_estimates.py
Due: pylint

improve name
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
Due: pylint

a few fixes
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/sales_estimates.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
