Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

provider parameters were being removed bc not in signature (#6348)
  openbb_terminal/openbb_terminal/argparse_translator/argparse_translator.py
Due: pylint

docstring
  terminal/openbb_terminal/controllers/choices.py
Due: pylint

move linting rules from pyproject.toml to ruff.toml
  openbb_terminal/pyproject.toml
  ruff.toml
Due: none

ensure everything on the dataframe is a string
  openbb_terminal/openbb_terminal/controllers/utils.py
Due: pylint

fix: avoid calling Session() multiple times
  openbb_terminal/openbb_terminal/controllers/feature_flags_controller.py
Due: pylint, reserved_args

ensure everything on the dataframe is a string (#6351)
  openbb_terminal/openbb_terminal/controllers/utils.py
Due: pylint

Documentation updates
  website/content/platform/explanation/architecture_overview.md
  website/content/platform/explanation/contributing.md
  website/content/platform/explanation/development.md
  website/content/platform/explanation/index.md
  website/content/platform/explanation/standardization.md
  website/content/platform/explanation/tests.md
  website/content/platform/explanation/toolkit.md
  website/content/platform/extensions/toolkit_extensions.md
  website/content/platform/faqs/data_providers.md
  website/content/platform/faqs/platform_vs_sdk.md
  website/content/platform/how-to/add_command_examples.md
  website/content/platform/how-to/add_data_provider_extension.md
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/add_obbject_extension.md
  website/content/platform/how-to/add_toolkit_extension.md
  website/content/platform/how-to/deprecating_endpoints.md
  website/content/platform/how-to/enable_llm_mode.md
  website/content/platform/how-to/index.md
  website/content/platform/installation.md
  website/content/platform/technical_descriptions/commitment_of_traders.md
  website/content/platform/technical_descriptions/dependency_management.md
  website/content/platform/technical_descriptions/index.md
  website/content/platform/tutorials/api_keys.md
  website/content/platform/tutorials/basic_response.md
  website/content/platform/tutorials/basic_syntax.md
  website/content/platform/tutorials/financial_statements.md
  website/content/platform/tutorials/find_symbols.md
  website/content/platform/tutorials/github.md
  website/content/platform/tutorials/historical_prices.md
  website/content/platform/tutorials/index.md
  website/content/platform/tutorials/market_calendars.md
  website/content/platform/tutorials/settings_and_environment_variables.md
Due: none

rename session refs
  openbb_terminal/openbb_terminal/config/setup.py
  openbb_terminal/openbb_terminal/controllers/base_controller.py
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
  openbb_terminal/openbb_terminal/controllers/choices.py
  openbb_terminal/openbb_terminal/controllers/feature_flags_controller.py
  openbb_terminal/openbb_terminal/controllers/hub_service.py
  openbb_terminal/openbb_terminal/controllers/script_parser.py
  openbb_terminal/openbb_terminal/controllers/terminal_controller.py
  openbb_terminal/openbb_terminal/controllers/utils.py
Due: pylint, reserved_args

move linting rules from pyproject.toml to ruff.toml (#6350)
  openbb_terminal/pyproject.toml
  ruff.toml
Due: none

fix: cmd text
  openbb_terminal/openbb_terminal/config/console.py
  openbb_terminal/openbb_terminal/config/menu_text.py
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
  openbb_terminal/openbb_terminal/controllers/terminal_controller.py
Due: pylint, reserved_args

stringify columns of dataframe
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
Due: pylint, reserved_args

rename constant
  cli/openbb_cli/config/constants.py
Due: pylint

rename .his file
  cli/openbb_cli/config/constants.py
Due: pylint

pyproject.toml
  cli/pyproject.toml
Due: none

[BugFix] Empty views on `econometrics` and `quantitative` (#6353)
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
Due: pylint, reserved_args

Update pre-commit and remove docker-build.yml
  .github/workflows/docker-build.yml
  .pre-commit-config.yaml
Due: none

fix: avoid Session()
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/feature_flags_controller.py
Due: pylint, reserved_args

Remove OpenBB Terminal from docs page
  website/sidebars.js
  website/src/pages/index.tsx
Due: none

Remove OpenBB Terminal from docs page (#6354)
  website/sidebars.js
  website/src/pages/index.tsx
Due: none

fix: add providers by cmd
  cli/openbb_cli/config/menu_text.py
Due: pylint

few broken links, clean up sidebar titles for how-to
  website/content/platform/extensions/toolkit_extensions.md
  website/content/platform/how-to/add_command_examples.md
  website/content/platform/how-to/add_data_provider_extension.md
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/add_obbject_extension.md
  website/content/platform/how-to/add_toolkit_extension.md
  website/content/platform/how-to/deprecating_endpoints.md
  website/content/platform/how-to/enable_llm_mode.md
Due: none

codespell
  website/content/platform/explanation/index.md
  website/content/platform/tutorials/economic_indicators.md
Due: none

fix: timezones
  cli/openbb_cli/controllers/feature_flags_controller.py
Due: pylint, reserved_args

create a title out of the route being used to use it as table title
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fix decorator for to_upper
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
Due: pylint

add annotated results with underlying symbol info
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Due: pylint

?
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Due: pylint

return error message when invalid request
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

create a title out of the route being used to use it as table title (#6356)
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

mypy
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

[BugFix] Intrinio EquityPriceHistorical - Return Error Message When Invalid Key (#6357)
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

[Feature] - Display command providers (#6355)
  cli/openbb_cli/config/console.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/feature_flags_controller.py
  cli/openbb_cli/controllers/hub_service.py
  cli/openbb_cli/controllers/script_parser.py
Due: pylint, reserved_args

restore platform api docker file
  openbb_platform/api.dockerfile
Due: none

Docs URL.md
  website/content/platform/installation.md
Due: none

try catch for RemoteDisconnect error
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

await sleep
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

remove not implemented helper
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
