Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

add sales estimates to estimates_router
  openbb_platform/core/openbb_core/provider/standard_models/sales_estimates.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
Due: pylint

adjustments and cleanups
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_helper.py
Due: pylint

routines syncing w hub
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/parent_classes.py
Due: pylint

small adjustments to point to the right instance
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

update reorder_params unit test
  openbb_platform/core/tests/app/static/test_package_builder.py
Due: pylint

update func default and tests
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
Due: pylint

typing
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

update comment
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

update comment
  openbb_platform/core/openbb_core/api/router/commands.py
Due: pylint

rename var
  openbb_platform/core/openbb_core/api/router/commands.py
Due: pylint

Update command_runner.py
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

whoami
  openbb_terminal/parent_classes.py
Due: pylint

custom terminal style
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/featflags_controller.py
Due: pylint, reserved_args

[BugFix] - Untyped variadic keyword arguments break during execution (#6250)
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/core/tests/app/test_command_runner.py
Due: pylint

adjustments related to preferences
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Due: pylint, reserved_args

rename terminal style
  openbb_terminal/config_terminal.py
  openbb_terminal/core/plots/terminal_style.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/rich_config.py
Due: pylint, reserved_args

update website to remove the main menu from pro level (#6244)
  website/content/excel/data-connectors.md
  website/content/pro/charting.md
  website/content/pro/data-connectors/_category_.json
  website/content/pro/data-connectors/index.md
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
  website/content/pro/data-connectors/single-widget.md
  website/content/pro/getting-started/_category_.json
  website/content/pro/getting-started/free-trial.md
  website/content/pro/getting-started/index.md
  website/content/pro/homepage.md
  website/content/pro/index.md
  website/content/pro/main-menu/_category_.json
  website/content/pro/main-menu/index.md
  website/content/pro/news.md
Due: none

deprecate more things
  openbb_terminal/base_helpers.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/plots/terminal_style.py
  website/controller_doc_classes.py
Due: pylint

Update gitignore
  .gitignore
Due: none

more deprecation
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/local_model.py
Due: pylint

more adjustments
  openbb_terminal/account/show_prompt.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Due: pylint, reserved_args

add the __init__ file..
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

current settings - deprecating preferences, user and system
  openbb_terminal/base_platform_controller.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/settings.py
  openbb_terminal/core/session/current_settings.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/rich_config.py
  terminal.py
Due: pylint, reserved_args

exception handling
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/default/dark.pltstyle.json
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/default/light.pltstyle.json
Due: pylint

terminal settings
  openbb_terminal/base_platform_controller.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/models/settings.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/models/user_model.py
  openbb_terminal/core/plots/terminal_style.py
  openbb_terminal/core/session/current_settings.py
  openbb_terminal/core/session/current_system.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/rich_config.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  tests/conftest.py
Due: pylint, reserved_args

update contributing section
  CONTRIBUTING.md
Due: none

revmap custom terminal settings
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

update contributing section (#6255)
  CONTRIBUTING.md
Due: none

fix extra multiple items in extra parameters
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/analyst_search.py
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_quote.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
Due: pylint

generic charts style
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/config/openbb_styles.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/colors.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/default/dark.pltstyle.json
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/generic_charts.py
Due: pylint

forgot to remove that print statement
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/generic_charts.py
Due: pylint

codespell
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

Build the static assets before generating markdown files
  .github/workflows/gh-pages.yml
Due: none

break out the Usage section in docs pages
  website/content/platform/installation.md
  website/content/platform/usage/api_keys.md
  website/content/platform/usage/basic_response.md
  website/content/platform/usage/basic_syntax.md
  website/content/platform/usage/explanation/_category_.json
  website/content/platform/usage/explanation/commitment_of_traders.md
  website/content/platform/usage/explanation/financial_statements.md
  website/content/platform/usage/explanation/find_symbols.md
  website/content/platform/usage/explanation/historical_prices.md
  website/content/platform/usage/explanation/index.md
  website/content/platform/usage/explanation/market_calendars.md
  website/content/platform/usage/index.md
  website/content/platform/usage/rest_api.md
  website/content/platform/usage/settings_and_environment_variables.md
  website/content/terminal/installation/pypi.md
Due: none

codespell
  website/content/platform/usage/api_keys.md
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
