Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

better handling of obbjects before printing/table/chart also fixes the sheet_name issue when writing to excel
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fix linting; also, dataframe creation in the right place
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

cli readme
  cli/CONTRIBUTING.md
  cli/README.md
  openbb_platform/README.md
Due: none

Update README.md
  cli/README.md
Due: none

Test batch 3
  cli/tests/test_controllers_controller_factory.py
  cli/tests/test_controllers_script_parser.py
  cli/tests/test_controllers_settings_controller.py
Due: pylint, reserved_args

main readme
  README.md
Due: none

suggestions @IgorWounds
  cli/README.md
Due: none

lints
  README.md
Due: none

literals
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
Due: pylint

fix: remove logos
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

fix: remove from provider
  openbb_platform/core/openbb_core/provider/abstract/provider.py
Due: pylint

Bump fastapi to a patched version
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: none

feat: add extra field
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
Due: pylint

merge branch develop
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
Due: pylint

rename
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
Due: pylint

mypy
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
Due: pylint

typo
  openbb_platform/extensions/equity/integration/test_equity_api.py
Due: pylint

[BugFix] - Remove logos (#6404)
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

[Feature] CLI README (#6402)
  cli/CONTRIBUTING.md
  cli/README.md
  openbb_platform/README.md
Due: none

Test batch 4
  cli/tests/test_config_completer.py
  cli/tests/test_config_console.py
  cli/tests/test_config_menu_text.py
  cli/tests/test_config_setup.py
  cli/tests/test_config_style.py
  cli/tests/test_controllers_utils.py
Due: pylint

lint
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

expose error message on request fail
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/historical_eps.py
Due: pylint

Test batch 5
  cli/tests/test_argparse_translator.py
  cli/tests/test_argparse_translator_obbject_registry.py
Due: pylint

[BugFix] - Explicit error message when return type is not an OBBject (#6394)
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

fix: replace python-jose by PyJWT
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: pylint

add unit test
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

add unit test
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

field_description
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
Due: pylint

federal reserve yield curve
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/yield_curve.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_yield_curve_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Due: pylint

proper handling of sheet name
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

orient to columns instead
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

econdb yield curve
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/providers/econdb/openbb_econdb/models/yield_curve.py
  openbb_platform/providers/econdb/openbb_econdb/utils/yield_curves.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_yield_curve_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Due: pylint

countries literal for python 3.9
  openbb_platform/providers/econdb/openbb_econdb/utils/yield_curves.py
Due: pylint

[BugFix] Fix broken `--sheet-name` argument (#6401)
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

expose error message on request fail (#6406)
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/historical_eps.py
Due: pylint

styling adjustments
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

[BugFix] Make `paper_bgcolor` transparent in PyWry backend (#6385)
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint

[BugFix] Econ Calendar (#6392)
  openbb_platform/core/openbb_core/provider/standard_models/economic_calendar.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_economic_calendar_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Due: pylint

[Feature] Add Forward PE Estimates (#6398)
  openbb_platform/core/openbb_core/provider/standard_models/forward_pe_estimates.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_pe_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
