Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

@jmaslek yfinance IS DEFAULT
  openbb_platform/dev_install.py
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Due: pylint

updated static
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
Due: pylint

black formatter
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  openbb_terminal/stocks/tradinghours/tradinghours_helper.py
Due: pylint, reserved_args

added symbol to headers
  openbb_terminal/stocks/fundamental_analysis/av_view.py
Due: pylint

contributor guide for http requests
  website/content/platform/development/contributor-guidelines/http_requests.md
Due: none

add a docstring
  website/content/platform/development/contributor-guidelines/http_requests.md
Due: none

removing loggging init from the global scope - per sensei juan
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
Due: pylint

Update labeler.yml and labels-PR.yml
  .github/labeler.yml
  .github/workflows/labels-PR.yml
Due: none

Fix link to discord channel (#5910)
  CONTRIBUTING.md
Due: none

Fixing Posthog handler for thread safety (#5968)
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: pylint

Update labeler.yml and labels-PR.yml (#5974)
  .github/labeler.yml
  .github/workflows/labels-PR.yml
Due: none

add section on get_querystring
  website/content/platform/development/contributor-guidelines/http_requests.md
Due: none

extra space
  website/content/platform/development/contributor-guidelines/http_requests.md
Due: none

allow multiple `identify` calls
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
Due: pylint

add note for people installing PyPI in a zsh terminal shell
  website/content/platform/installation.md
Due: none

Update posthog_handler.py
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
Due: pylint

openbb_core version bump in pyproject.toml
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/finviz/pyproject.toml
Due: none

hotfix/ allow multiple `identify` calls (#5976)
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
Due: pylint

index_historical
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/market_indices.py
Due: pylint

index_historical again
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
Due: pylint

last_time -> last_timestamp
  openbb_platform/providers/cboe/openbb_cboe/models/equity_quote.py
Due: pylint

obsolete router path
  openbb_platform/extensions/index/openbb_index/index_router.py
Due: pylint

fix tests
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_equity_historical_fetcher.yaml
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_index_historical_fetcher.yaml
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_market_indices_fetcher.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
Due: pylint

test param
  openbb_platform/extensions/index/integration/test_index_python.py
Due: pylint

regex out any invisible control character from sales_conditions field
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
Due: pylint

regex out any invisible control character from sales_conditions field (#5977)
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
Due: pylint

docs/http-requests: Contributor Guide For Building HTTP Requests (#5973)
  website/content/platform/development/contributor-guidelines/http_requests.md
  website/content/platform/installation.md
Due: none

update for version bump
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
  openbb_platform/poetry.lock
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
  openbb_platform/pyproject.toml
Due: pylint

list exchange-calendars as tmx dependency
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
Due: none

eod chains date -> eod_date
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Due: pylint

equity profile for yFinance
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_profile_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

pylint
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
Due: pylint

equity quote
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_quote_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

unused imports
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
Due: pylint

feature/add-yfinance-functions: Add equity.profile for yFinance (#5978)
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_profile_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_quote_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

price target consensus
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_price_target_consensus_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

add currency field
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
Due: pylint

restore market index deprecation that I forgot about
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
Due: pylint

add share_statistics
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_share_statistics_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint
