Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

ruff
  openbb_platform/core/tests/app/test_deprecation.py
Due: pylint

removing mypy line
  .github/workflows/general-linting.yml
Due: none

metadata documentation
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/user_guides/metadata.mdx
Due: none

Add image
  website/content/platform/user_guides/metadata.mdx
Due: none

typo
  website/content/platform/user_guides/metadata.mdx
Due: none

Wrap examples in dropdowns
  website/content/platform/user_guides/metadata.mdx
Due: none

lint
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

[Docs] Guides for Metadata and AnnotatedResult (#6457)
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/user_guides/metadata.mdx
Due: pylint

fix: add website documentation
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Due: none

fix: detailed error message
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/fixedincome_government.py
Due: pylint

update core ruff version
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: none

run linters on changed files only
  .github/workflows/general-linting.yml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: none

update pre-commit ruff
  .pre-commit-config.yaml
Due: none

include cli directory in the diff files to be checked
  .github/workflows/general-linting.yml
Due: none

update msg
  .github/workflows/general-linting.yml
Due: none

fix the ruff issue
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

fix test
  openbb_platform/core/tests/app/static/test_container.py
Due: pylint

Run linters on changed files only (#6458)
  .github/workflows/general-linting.yml
  .pre-commit-config.yaml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

StreamFetcher POC
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/providers/binance/README.md
  openbb_platform/providers/binance/__init__.py
  openbb_platform/providers/binance/openbb_binance/__init__.py
  openbb_platform/providers/binance/openbb_binance/models/__init__.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
  openbb_platform/providers/binance/openbb_binance/utils/__init__.py
  openbb_platform/providers/binance/poetry.lock
  openbb_platform/providers/binance/pyproject.toml
  openbb_platform/providers/binance/tests/__init__.py
Due: pylint

redirect url
  website/docusaurus.config.ts
Due: none

order
  website/docusaurus.config.ts
Due: none

[Docs] Redirect contributing URL (#6460)
  website/docusaurus.config.ts
Due: none

fix seeking alpha
  openbb_platform/core/openbb_core/provider/standard_models/upcoming_release_days.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/calendar_earnings.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/utils/helpers.py
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_calendar_earnings_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_eps_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_sales_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_upcoming_release_days_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/test_seeking_alpha_fetchers.py
Due: pylint

try again sequence
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/calendar_earnings.py
Due: pylint

prevent key error
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
Due: pylint

move value check up the sequence
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
Due: pylint

filter test cassette more
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_eps_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_sales_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/test_seeking_alpha_fetchers.py
Due: pylint

fix empty build fail
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

using the custom argument to leverage validation
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/tests/test_argparse_translator.py
Due: pylint

restructure
  cli/openbb_cli/argparse_translator/argparse_argument.py
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/argparse_translator/reference_processor.py
  cli/tests/test_argparse_translator.py
Due: pylint

better handling of variables and props
  cli/openbb_cli/argparse_translator/reference_processor.py
Due: pylint

optional choices
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

utilities module
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/argparse_translator/utils.py
Due: pylint

codespell
  .codespell.ignore
  .codespell.skip
  openbb_platform/core/openbb_core/app/logs/handlers/path_tracking_file_handler.py
  website/content/sdk/data-available/alternative.md
  website/generate_excel_markdown.py
Due: pylint

skip terminal crypto onchain
  .codespell.skip
Due: none

rebuild
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
Due: pylint

fix Q4 label sub
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Due: pylint

[BugFix] Fix Codespell Linting Errors (#6464)
  .codespell.ignore
  .codespell.skip
  openbb_platform/core/openbb_core/app/logs/handlers/path_tracking_file_handler.py
  website/content/sdk/data-available/alternative.md
  website/generate_excel_markdown.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
