Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

description
  openbb_platform/core/openbb_core/provider/standard_models/euro_short_term_rate.py
Due: pylint

[Feature] Generate settings menu from pydantic model (#6489)
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_controllers_settings_controller.py
  cli/tests/test_controllers_utils.py
Due: pylint, reserved_args

remove remember contexts setting
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_models_settings.py
Due: pylint, reserved_args

no prints when exporting
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

[Docs] Fix Broken URLs (#6494)
  .github/workflows/deploy-gh-pages.yml
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/installation.md
  website/content/platform/developer_guide/index.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/extensions.mdx
Due: none

[Feature] Create openbb-cli .dockerfile and update docs (#6485)
  build/docker/platform.dockerfile
  website/content/platform/installation.mdx
Due: none

minor linting adjustments
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

remove remember contexts setting (#6496)
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_models_settings.py
Due: pylint, reserved_args

no prints when exporting (#6497)
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fix: unit tests
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

missed file in commit
  openbb_platform/providers/fred/openbb_fred/models/euro_short_term_rate.py
Due: pylint

review changes
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

charting test mock obbject
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

add router path for economic surveys
  openbb_platform/core/openbb_core/provider/standard_models/senior_loan_officer_survey.py
  openbb_platform/core/openbb_core/provider/standard_models/university_of_michigan.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/senior_loan_officer_survey.py
  openbb_platform/providers/fred/openbb_fred/models/university_of_michigan.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_senior_loan_officer_survey_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_university_of_michigan_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

chicago economic conditions
  openbb_platform/core/openbb_core/provider/standard_models/survey_of_economic_conditions_chicago.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/survey_of_economic_conditions_chicago.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_survey_of_economic_conditions_chicago_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

reference.json
  openbb_platform/openbb/assets/reference.json
Due: none

[Enhancement] Convert Params Models To Dictionary Before Assigning As Private Attribute In OBBject. (#6492)
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/tests/test_argparse_translator_obbject_registry.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

fix index to datetime conversion
  examples/copperToGoldRatio.ipynb
Due: none

chore: fix interval bug in the pynb (#6435)
  examples/copperToGoldRatio.ipynb
Due: none

add manufacturing outlook survey for texas
  openbb_platform/core/openbb_core/provider/standard_models/manufacturing_outlook_texas.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/manufacturing_outlook_texas.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_manufacturing_outlook_texas_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

Add one to date validator to allow FY diff.
  openbb_platform/providers/fmp/openbb_fmp/models/earnings_call_transcript.py
Due: pylint

Typo in spelling
  openbb_platform/providers/fmp/openbb_fmp/models/earnings_call_transcript.py
Due: pylint

multiple items allowed
  openbb_platform/core/openbb_core/provider/standard_models/earnings_call_transcript.py
  openbb_platform/providers/fmp/openbb_fmp/models/earnings_call_transcript.py
Due: pylint

static assets
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
Due: pylint

add mortgage indices
  openbb_platform/core/openbb_core/provider/standard_models/mortgage_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/mortgage_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_mortgage_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

flag to store cached results, or not
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
Due: pylint, reserved_args

using keys to reference obbjects in the registry and data processing commands
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

Update yield_curve.py
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
Due: pylint

Fix issue in earnings transcript not allowing FY 2025 to be retrieved (#6500)
  openbb_platform/core/openbb_core/provider/standard_models/earnings_call_transcript.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/earnings_call_transcript.py
Due: pylint

Update Sidebar
  website/sidebars.js
Due: none

try merging
  website/content/platform/developer_guide/extensions.mdx
Due: none

feat: display data for available providers only
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/content/excel/openbb-functions.json
  website/generate_excel_markdown.py
Due: pylint

.co
  website/generate_excel_markdown.py
Due: pylint

update xl docs
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/content/excel/openbb-functions.json
  website/generate_excel_markdown.py
Due: pylint

fix typo
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

stashing
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
Due: pylint

update xl files
  website/content/excel/functions.json
  website/content/excel/openapi.json
Due: none

[Docs] Excel docs update (#6504)
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/content/excel/openbb-functions.json
  website/generate_excel_markdown.py
Due: pylint

intrinio delayed options
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/tmx/openbb_tmx/models/options_chains.py
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
Due: pylint
