Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

fix fmp (#6383)
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_historical_fetcher.yaml
Due: pylint

start config page
  website/content/cli/configuration.md
  website/content/cli/quickstart.md
  website/content/cli/usage/_category_.json
Due: none

[Feature] Update chart creation so it doesn't break the command execution (#6382)
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

more updates
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/index.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/usage/data/_category_.json
  website/content/cli/usage/data/api-keys.md
  website/content/cli/usage/data/index.mdx
  website/content/cli/usage/data/openbbuserdata.md
Due: none

Add screenshots
  website/content/cli/quickstart.md
Due: none

flatten some things.
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/usage/_category_.json
  website/content/cli/usage/customizing-the-terminal.md
  website/content/cli/usage/outputs/_category_.json
  website/content/cli/usage/outputs/export-data.md
  website/content/cli/usage/outputs/index.mdx
  website/content/cli/usage/overview/_category_.json
  website/content/cli/usage/overview/index.mdx
Due: none

fix link
  website/content/cli/index.md
Due: none

PyDocstyle
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

Save routines locally if not logged in.
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

Change the exit message
  cli/openbb_cli/controllers/utils.py
Due: pylint

Point to new docs on first launch.
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

proper checking of max_obbjects_exceeded
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/session.py
Due: pylint, reserved_args

fix global flag on local routines
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

Remove language from settings as it is not supported.
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/models/settings.py
Due: pylint, reserved_args

Remove rcontext flag
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

fix: descriptions & websites
  assets/extensions/provider.json
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

export to account multiple formats
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

Revert "Remove rcontext flag"
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

Remove
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

leftover
  cli/CONTRIBUTING.md
Due: none

camelCase
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
Due: pylint

properly match provider being used with provider arguments so that kwargs are correctly filtered
  cli/openbb_cli/argparse_translator/argparse_translator.py
Due: pylint

[Feature] Misc improvements on the Platform CLI (#6370)
  cli/CONTRIBUTING.md
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/openbb_cli/session.py
Due: pylint, reserved_args

Bump python-multipart to a patched version
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: none

Bump urllib3 to the latest patched version
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Due: none

change json structure
  assets/extensions/provider.json
  assets/scripts/generate_extension_data.py
Due: pylint

logo url
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/provider/abstract/provider.py
Due: pylint

fallback to to_df() method when results are a string
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

Bump aiohttp-client-cache and aiosqlite to latest versions
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/cboe/pyproject.toml
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/econdb/pyproject.toml
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
Due: none

update dependencies
  cli/poetry.lock
  cli/pyproject.toml
Due: none

Bump plotly.js and third level deps in frontend components
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Due: none

remove i18n
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/pyproject.toml
Due: pylint, reserved_args

poetry lock
  cli/poetry.lock
Due: none

fallback to to_df() method when results are a string (#6388)
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

reprName
  assets/extensions/provider.json
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
Due: pylint

finra
  assets/extensions/provider.json
  openbb_platform/providers/finra/openbb_finra/__init__.py
Due: pylint

logos
  assets/extensions/provider.json
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

logo
  assets/extensions/provider.json
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint
