Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

add if statement for protection
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

remove unused return typing
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

fix technical charting views
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

Yeet crypto/onchain/hr and gwei
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
Due: pylint, reserved_args

yeet luna
  openbb_terminal/cryptocurrency/defi/defi_controller.py
Due: pylint, reserved_args

yeet coinglass
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Due: pylint, reserved_args

yeet dps/ctb
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
Due: pylint, reserved_args

yeet reddit
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
Due: pylint, reserved_args

yeet covid
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/covid/__init__.py
  openbb_terminal/alternative/covid/countries.txt
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/covid/covid_model.py
  openbb_terminal/alternative/covid/covid_view.py
Due: pylint, reserved_args

actually not yeeting
  terminal.py
Due: pylint

yeet options/hedge
  openbb_terminal/stocks/dark_pool_shorts/stocksera_model.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/hedge/hedge_model.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
  openbb_terminal/stocks/options/options_controller.py
Due: pylint, reserved_args

update test
  openbb_platform/core/tests/provider/utils/test_validators.py
Due: pylint

not yeeting. i18n words
  openbb_terminal/miscellaneous/i18n/en.yml
Due: none

something happened on accident
  openbb_platform/providers/utils.py
Due: pylint

still fixing
  openbb_platform/extensions/devtools/integration/test_devtools_python.py
  openbb_platform/extensions/forecast/integration/test_forecast_python.py
  openbb_platform/extensions/forex/integration/test_forex_python.py
  openbb_platform/extensions/futures/integration/test_futures_python.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
Due: pylint

add regional data endpoint from FRED
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_regional_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

codespell
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

ruff
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

sort imports
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

add provder='fred' to integration test
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
Due: pylint

thought I already sorted those imports..
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

pylint..
  openbb_platform/providers/fred/openbb_fred/models/search.py
Due: pylint

more test params....
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
Due: pylint

even more test params...
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
Due: pylint

even more test params....
  openbb_platform/extensions/economy/integration/test_economy_api.py
Due: pylint

static assets
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

reconfigure params
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

alias dict
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
Due: pylint

rebuild
  openbb_platform/openbb/package/equity_price.py
Due: pylint

move check_single_value
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/utils/validators.py
  openbb_platform/core/tests/app/test_utils.py
  openbb_platform/core/tests/provider/utils/test_validators.py
Due: pylint

crypto historical
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
Due: pylint

order providers
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/equity_price.py
Due: pylint

fix typing
  openbb_platform/core/openbb_core/app/static/utils/filters.py
Due: pylint

rename extra dict
  openbb_platform/core/openbb_core/provider/abstract/query_params.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Due: pylint

Fix QA Examples
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
