Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

outdated workflow
  .github/workflows/sdkv4-core.yml
Due: none

update ruff
  poetry.lock
Due: none

dependency related changes
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_model.py
  poetry.lock
  pyproject.toml
Due: pylint

Prevent poetry from removing it's deps when trying to update extensions
  build/pypi/openbb_platform/publish.py
Due: pylint

using model validator instead
  openbb_terminal/core/models/system_model.py
Due: pylint

adjustments to the system model
  openbb_terminal/core/models/system_model.py
Due: pylint

Fix typo in a docstring
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
Due: pylint

Resolve linting errors
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
Due: pylint

type ignore
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Due: pylint

disable=unused-argument
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
Due: pylint

changing the arg name cc @minhhoang1023
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
Due: pylint

feature/financials - PR for working on structure of financial statements. (#5794)
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow.py
  openbb_platform/core/openbb_core/provider/standard_models/financial_ratios.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement.py
  openbb_platform/core/openbb_core/provider/standard_models/reported_financials.py
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_income_statement_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/reported_financials.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_financial_ratios_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_reported_financials_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_balance_sheet_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_income_statement_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
Due: pylint

upgrade core version and remove black
  openbb_platform/core/pyproject.toml
Due: none

Add random-user-agent to goventment_us provider
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/government_us/pyproject.toml
Due: none

Re-build static prior to version bump
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_darkpool.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/module_map.json
Due: pylint

Mark wsj as optional in dev_install script
  openbb_platform/dev_install.py
Due: pylint

Include wsj in all extras
  openbb_platform/pyproject.toml
Due: none

re-record tests
  openbb_platform/providers/wsj/tests/record/http/test_wsj_fetchers/test_wsj_active_fetcher.yaml
  openbb_platform/providers/wsj/tests/record/http/test_wsj_fetchers/test_wsj_gainers_fetcher.yaml
  openbb_platform/providers/wsj/tests/record/http/test_wsj_fetchers/test_wsj_losers_fetcher.yaml
Due: none

add warning at top of page - instructions are for installing the Terminal app
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/source.md
Due: none

updating static assets
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_darkpool.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/module_map.json
Due: pylint

bumping versions on the openbb package
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Due: none

pip install openbb-nightly
  website/content/platform/installation.md
Due: none

update poetry.lock files
  build/pypi/openbb_platform/publish.py
  openbb_platform/core/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/poetry.lock
Due: pylint

date in test needs to be a datetime.date not string
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

Update yfinance test data for failing unit tests
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher.yaml
Due: none

Revert "Update yfinance test data for failing unit tests"
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher.yaml
Due: none

Update index.md
  website/content/pro/index.md
Due: none

make fmp unix timestamp tz-aware and normalize percent change
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
Due: pylint

different way of parsing datetime string
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
Due: pylint

recapture cboe equity historical test
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_equity_historical_fetcher.yaml
Due: pylint

unused import
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
Due: pylint

minor adjustments
  argparse_translator/argparse_class_processor.py
  argparse_translator/argparse_translator.py
Due: pylint

revert all changes on stocks controller
  openbb_terminal/stocks/stocks_controller.py
Due: pylint, reserved_args

working historical price
  argparse_translator/argparse_class_processor.py
  openbb_terminal/stocks/stocks_controller.py
  poetry.lock
  pyproject.toml
Due: pylint, reserved_args

tests
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_crypto_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_currency_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_curve_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_market_indices_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_active_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_aggressive_small_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_gainers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_growth_tech_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_losers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_undervalued_growth_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_yf_undervalued_large_caps_fetcher.yaml
Due: none

update income statement fields
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
