Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

default API settings
  openbb_platform/core/openbb_core/app/model/api_settings.py
Due: pylint

Getting closer
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/providers/binance/openbb_binance/__init__.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
Due: pylint

[BugFix] Fix Seeking Alpha (#6461)
  openbb_platform/core/openbb_core/provider/standard_models/upcoming_release_days.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/calendar_earnings.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/utils/helpers.py
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_calendar_earnings_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_eps_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_sales_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_upcoming_release_days_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/test_seeking_alpha_fetchers.py
Due: pylint

Closer
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
Due: pylint

add yfinance to options chains
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

[BugFix] Add `json_schema_extra` With Choices To Provider 'period' Field (#6451)
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement_growth.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement_growth.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Due: pylint

add central bank holdings
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/central_bank_holdings.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/ny_fed_api.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_central_bank_holdings_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fed_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_money_measures_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_yield_curve_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Due: pylint

codespell
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/ny_fed_api.py
Due: pylint

Explicit None
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
Due: pylint

default API settings (#6466)
  openbb_platform/core/openbb_core/app/model/api_settings.py
Due: pylint

[Feature] Options Chains From YFinance (#6468)
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

fix Q4 label sub (#6465)
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Due: pylint

Closer
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
Due: pylint

Ready POC
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/crypto/openbb_crypto/price/price_router.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
Due: pylint

fix empty build fail (#6462)
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

working with async data on the cli
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

actually commit the standard model
  openbb_platform/core/openbb_core/provider/standard_models/central_bank_holdings.py
Due: pylint

feat: setup stdout logger
  openbb_platform/core/openbb_core/app/logs/handlers_manager.py
  openbb_platform/providers/binance/openbb_binance/models/crypto_historical.py
Due: pylint

add openbb-charting to pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

some fixes
  openbb_platform/core/openbb_core/provider/standard_models/consumer_price_index.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredcpi_fetcher.yaml
  openbb_platform/providers/oecd/openbb_oecd/models/consumer_price_index.py
Due: pylint

standard model fields
  openbb_platform/core/openbb_core/provider/standard_models/consumer_price_index.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Due: pylint

unit test
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_cpi_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Due: pylint

Fix Typo
  website/content/platform/getting_started/economic_indicators.mdx
Due: none

Typo
  website/content/platform/getting_started/quickstart.mdx
Due: none

frequency in standard model
  openbb_platform/core/openbb_core/provider/standard_models/consumer_price_index.py
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
  openbb_platform/providers/oecd/openbb_oecd/models/consumer_price_index.py
Due: pylint

more typo.md
  openbb_platform/obbject_extensions/charting/examples.md
Due: none

empty fred
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
Due: pylint

format oecd dates as period beginning
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
Due: pylint

fred -> when frequency is annual, the transform needs to be same period one year ago
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
Due: pylint

test thing
  openbb_platform/providers/oecd/openbb_oecd/models/consumer_price_index.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_cpi_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Due: pylint

add share price index
  openbb_platform/core/openbb_core/provider/standard_models/share_price_index.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/share_price_index.py
  openbb_platform/providers/oecd/pyproject.toml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_share_price_index_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Due: pylint

test params
  openbb_platform/core/openbb_core/provider/standard_models/share_price_index.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
Due: pylint

make same PR as the one to main
  openbb_platform/obbject_extensions/charting/examples.md
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/quickstart.mdx
Due: none

lint
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fix version
  cli/openbb_cli/models/settings.py
Due: pylint

add url functionality to the charting extension
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

make same PR as the one to main (#6472)
  openbb_platform/obbject_extensions/charting/examples.md
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/quickstart.mdx
Due: none

small adjustments and removing unused function
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

[Feature] Set provider fallback based on credentials (#6446)
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/tests/app/model/test_defaults.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_provider_interface.py
  openbb_platform/core/tests/provider/test_registry_map.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  website/content/cli/data-sources.md
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Due: pylint

[Feature] Add Central Bank Holdings (Federal Reserve) (#6469)
  openbb_platform/core/openbb_core/provider/standard_models/central_bank_holdings.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/central_bank_holdings.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/ny_fed_api.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_central_bank_holdings_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fed_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_money_measures_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_yield_curve_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Due: pylint
