Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

unused import
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_large_caps.py
Due: pylint

remove file that shouldn't have been added
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target.py
Due: pylint

oops. didn't remove a couple lines
  openbb_platform/providers/yfinance/openbb_yfinance/models/losers.py
Due: pylint

review items
  openbb_platform/poetry.lock
  openbb_platform/providers/tmx/openbb_tmx/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_profile.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_quote.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_countries.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_sectors.py
  openbb_platform/providers/tmx/openbb_tmx/models/insider_trading.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
  openbb_platform/pyproject.toml
Due: pylint

wrangle a rogue field
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
Due: pylint

index router example
  openbb_platform/extensions/index/openbb_index/index_router.py
Due: pylint

company news thing - symbols -> symbol
  openbb_platform/providers/tmx/openbb_tmx/models/company_news.py
Due: pylint

field name map
  openbb_platform/providers/tmx/openbb_tmx/models/company_news.py
Due: pylint

add additional functions for generating index and data models file
  website/generate_platform_v4_markdown.py
Due: pylint

[BugFix] Fix Equity Integration Tests (#6086)
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_performance.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/active.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/aggressive_small_caps.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/gainers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/growth_tech_equities.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/losers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_growth_equities.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_large_caps.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Due: pylint

[Enhancement] Add `analyst_search` to the Equity/Estimates Router (#6088)
  openbb_platform/core/openbb_core/provider/standard_models/analyst_search.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_analyst_search_fetcher.yaml
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_price_target_fetcher.yaml
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target.py
Due: pylint

extract first sentence of the description for cards
  website/generate_platform_v4_markdown.py
Due: pylint

introducing the platform controller factory
  openbb_terminal/base_platform_controller.py
  openbb_terminal/platform_controller_factory.py
  openbb_terminal/poc_platform_equity_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove unnecessary file
  argparse_translator/controller_builder.py
Due: pylint

revert changes to files
  openbb_terminal/economy/fred_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/stocks_controller.py
Due: pylint, reserved_args

code cleanup and documentation
  website/generate_platform_v4_markdown.py
Due: pylint

dinamically generate platform menus
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

generated platform commands
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Fix POST docstring examples.
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

linting
  website/generate_platform_v4_markdown.py
Due: pylint

linting polygon models
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_nbbo.py
Due: pylint

Move router examples to command decorator
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

add openbb import statement in create_reference_markdown_examples function
  website/generate_platform_v4_markdown.py
Due: pylint

[BugFix] - Fix POST docstring examples (#6095)
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

[BugFix] Fix `treasury_rates()` (#6092)
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/fmp/openbb_fmp/models/treasury_rates.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_treasury_rates_fetcher.yaml
Due: pylint

remove reference to to_chart in OBBject.
  website/content/platform/development/developer-guidelines/architectural_considerations.md
Due: none

create OBB.GET and data slicer page
  website/content/excel/data-connectors.md
  website/content/excel/data-slicer.md
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Due: pylint

allow mixed utc offset in a tz-aware date column
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
Due: pylint

remove quotes
  website/content/excel/data-slicer.md
Due: none

format description
  website/content/excel/data-slicer.md
Due: none

wording
  website/content/excel/data-slicer.md
Due: none

functions.json
  website/content/excel/functions.json
Due: none

enforce ascending from all providers for price.historical
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
Due: pylint

add POST method functions
  website/generate_platform_v4_markdown.py
Due: pylint

fix tests
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/model/test_obbject.py
Due: pylint

ruff
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_ownership.py
  openbb_platform/core/openbb_core/provider/standard_models/esg_risk_rating.py
  openbb_platform/core/openbb_core/provider/standard_models/esg_score.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_employees.py
  openbb_platform/core/openbb_core/provider/standard_models/institutional_ownership.py
  openbb_platform/core/openbb_core/provider/standard_models/key_metrics.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target_consensus.py
Due: pylint

missing import
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
Due: pylint

fix int tests
  .github/workflows/platform-api-integration-test.yml
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

fix obbject int tests
  openbb_platform/core/integration/test_obbject.py
Due: pylint

fix quant tests
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
