Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

more test params
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

?
  openbb_platform/providers/sec/openbb_sec/models/symbol_map.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_symbol_map_fetcher.yaml
Due: pylint

obbject registry class
  argparse_translator/obbject_registry.py
Due: pylint

using the obbject registry to show available options
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

try with FieldInfo
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  website/content/platform/development/how-to/add_data_provider_extension.md
Due: pylint

ugly...
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

Force UTC Currency Snapshots
  openbb_platform/providers/fmp/openbb_fmp/models/currency_snapshots.py
Due: pylint

Add that to market_snapshots too.
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
Due: pylint

partial
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

link obbject results to data processing commands data argument
  argparse_translator/obbject_registry.py
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

think this does it
  openbb_platform/providers/sec/openbb_sec/models/symbol_map.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_symbol_map_fetcher.yaml
Due: pylint

json schema extra
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

missing require_credentials=False
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
Due: pylint

pylint disable unused argument
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
Due: pylint

api.dockerfile
  build/docker/api.dockerfile
Due: none

move Rust install
  build/docker/api.dockerfile
Due: none

add rust to PATH
  build/docker/api.dockerfile
Due: none

Install dev tools
  build/docker/api.dockerfile
Due: none

no -e
  build/docker/api.dockerfile
Due: none

moving some stuff around
  website/content/platform/development/_category_.json
  website/content/platform/development/contributing/_category_.json
  website/content/platform/development/contributing/github.md
  website/content/platform/development/devtools.md
  website/content/platform/explanation/architecture_overview.md
  website/content/platform/explanation/contributing.md
  website/content/platform/explanation/deprecating_endpoints.md
  website/content/platform/explanation/development.md
  website/content/platform/explanation/function_examples.md
  website/content/platform/explanation/http_requests.md
  website/content/platform/explanation/index.md
  website/content/platform/explanation/obbject.md
  website/content/platform/explanation/standardization.md
  website/content/platform/explanation/tests.md
  website/content/platform/explanation/validators.md
  website/content/platform/extensions/toolkit_extensions.md
  website/content/platform/how-to/_category_.json
  website/content/platform/how-to/add_data_provider_extension.md
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/add_obbject_extension.md
  website/content/platform/how-to/add_toolkit_extension.md
  website/content/platform/how-to/index.md
  website/content/platform/technical_descriptions/_category_.json
  website/content/platform/technical_descriptions/commitment_of_traders.md
  website/content/platform/technical_descriptions/dependency_management.md
  website/content/platform/tutorials/financial_statements.md
  website/content/platform/tutorials/find_symbols.md
  website/content/platform/tutorials/github.md
  website/content/platform/tutorials/historical_prices.md
  website/content/platform/tutorials/index.md
  website/content/platform/tutorials/market_calendars.md
Due: none

[BugFix] Replace Platform Docker File. (#6321)
  build/docker/api.dockerfile
Due: none

override FieldInfo __repr__
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

typing
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
Due: pylint

separate model_config
  openbb_platform/core/openbb_core/app/model/preferences.py
Due: pylint

small improvements to correctly get the standard args
  argparse_translator/obbject_registry.py
Due: pylint

intersecting data processing commands and matching the obbject trough its id
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

rename OpenBBCustomParameter to OpenBBField
  openbb_platform/core/openbb_core/app/model/field.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  website/content/platform/development/how-to/add_data_provider_extension.md
Due: pylint

lint
  openbb_platform/core/openbb_core/app/model/field.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

pydocstyle
  openbb_platform/core/openbb_core/app/model/field.py
Due: pylint

Fix build failing for router-only extensions with no standard models
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

black
  openbb_platform/providers/fmp/openbb_fmp/models/currency_snapshots.py
Due: pylint

Fix build failing for router-only extensions with no standard models (#6324)
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

fix charting test
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

[BugFix] Add Missing require_credentials=False In Nasdaq Fetchers (#6320)
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
Due: pylint

don't include choices if no choices
  openbb_platform/core/openbb_core/app/model/field.py
Due: pylint

Fix tests
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
Due: pylint

ignoring some typing
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
