Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

avoid range index as it breaks interactive tables
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

Sanitize sensitive data from .cli.his
  cli/openbb_cli/config/completer.py
  cli/openbb_cli/session.py
Due: pylint

avoid range index as it breaks interactive tables (#6360)
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

fix long command providers
  cli/openbb_cli/config/menu_text.py
Due: pylint

[Enhancement] - Sanitize sensitive data from `.cli.his` (#6361)
  cli/openbb_cli/config/completer.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/session.py
Due: pylint

cli docs website
  website/content/cli/_category_.json
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/usage/_category_.json
  website/content/cli/usage/data/_category_.json
  website/content/cli/usage/data/api-keys.md
  website/content/cli/usage/data/custom-data.md
  website/content/cli/usage/data/data-sources.md
  website/content/cli/usage/data/index.mdx
  website/content/cli/usage/hub.md
  website/content/cli/usage/keyboard-hotkey-macros.md
  website/content/cli/usage/outputs/_category_.json
  website/content/cli/usage/outputs/export-data.md
  website/content/cli/usage/outputs/index.mdx
  website/content/cli/usage/outputs/interactive-charts.md
  website/content/cli/usage/outputs/interactive-tables.md
  website/content/cli/usage/overview/_category_.json
  website/content/cli/usage/overview/commands-and-arguments.md
  website/content/cli/usage/overview/customizing-the-terminal.md
  website/content/cli/usage/overview/index.mdx
  website/content/cli/usage/overview/structure-and-navigation.md
  website/content/cli/usage/routines/_category_.json
  website/content/cli/usage/routines/community-routines.md
  website/content/cli/usage/routines/index.mdx
  website/content/cli/usage/routines/introduction-to-routines.md
  website/content/cli/usage/routines/overlay-financial-data.md
  website/content/cli/usage/routines/pipeline-of-commands.md
  website/content/cli/usage/routines/routine-macro-recorder.md
  website/content/cli/usage/routines/routines-for-power-users.md
  website/sidebars.js
Due: none

changes
  website/content/cli/usage/data/api-keys.md
  website/content/cli/usage/data/custom-data.md
  website/content/cli/usage/data/data-sources.md
  website/content/cli/usage/outputs/export-data.md
  website/content/cli/usage/outputs/interactive-charts.md
  website/content/cli/usage/outputs/interactive-tables.md
  website/content/cli/usage/overview/commands-and-arguments.md
  website/content/cli/usage/overview/customizing-the-terminal.md
  website/content/cli/usage/overview/structure-and-navigation.md
  website/content/cli/usage/routines/community-routines.md
  website/content/cli/usage/routines/index.mdx
  website/content/cli/usage/routines/introduction-to-routines.md
  website/content/cli/usage/routines/overlay-financial-data.md
  website/content/cli/usage/routines/pipeline-of-commands.md
  website/content/cli/usage/routines/routine-macro-recorder.md
  website/content/cli/usage/routines/routines-for-power-users.md
Due: none

remove unused feat flags
  cli/openbb_cli/controllers/feature_flags_controller.py
Due: pylint, reserved_args

typo
  website/content/cli/usage/hub.md
Due: none

Remove .envs
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/models/settings.py
  cli/pyproject.toml
Due: pylint

Clean menu_text.py
  cli/openbb_cli/config/menu_text.py
Due: pylint

Remove TODO
  cli/openbb_cli/models/settings.py
Due: pylint

[BugFix] - Remove multiple .envs (#6363)
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/models/settings.py
  cli/pyproject.toml
Due: pylint

registry belongs to the session instead
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/session.py
Due: pylint, reserved_args

help message on results
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

abstract the update_completer a bit and also force the re-link of newly created obbjects so they're immidiatly available
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/feature_flags_controller.py
Due: pylint, reserved_args

new settings to control the obbject registry
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/controllers/feature_flags_controller.py
  cli/openbb_cli/models/settings.py
Due: pylint, reserved_args

new method to remove a certain index from the stack
  cli/openbb_cli/argparse_translator/obbject_registry.py
Due: pylint

using the new flags to control messages on the registyr
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

stashing
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
Due: pylint

quickstart - new provider extension
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/index.md
  website/content/platform/how-to/quickstart_new_provider_extension.md
Due: none

add a comment
  website/content/platform/how-to/quickstart_new_provider_extension.md
Due: none

map provider interface
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/add_toolkit_extension.md
  website/content/platform/how-to/quickstart_mapping_the_provider_interface.md
  website/content/platform/how-to/quickstart_new_provider_extension.md
Due: none

add main indicators to economy.indicators
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/utils/main_indicators.py
Due: pylint

static assets
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Due: pylint

ruff
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
Due: pylint

fix: add spaces to results --help
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

remove about message
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

handle repeated arguments
  cli/openbb_cli/argparse_translator/argparse_translator.py
Due: pylint

accomodate all the choices from different providers
  cli/openbb_cli/argparse_translator/argparse_translator.py
Due: pylint

[BugFix] SEC ETF Holdings - Try Catch for RemoteDisconnect Error (#6359)
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
Due: pylint

Update cli/openbb_cli/controllers/feature_flags_controller.py
  cli/openbb_cli/controllers/feature_flags_controller.py
Due: pylint, reserved_args

rename to settings_controller
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

typo wrong attr
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

better messages and actually removing the oldest obbject
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

[Feature] Improve `OBBject` Registry (#6364)
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/models/settings.py
  cli/openbb_cli/session.py
Due: pylint, reserved_args

set chart style before output
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

docstring
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

black
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

Fix broken URLs
  website/content/platform/development/standardization.md
Due: none
