Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

checkout dev_install
  openbb_platform/dev_install.py
Due: pylint

using the extension loader to get the entry points instead of recalling the function
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/openbb_core/app/service/auth_service.py
Due: pylint

Hotfix/terminal tests (#5919)
  openbb_terminal/core/completer/choices.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
Due: pylint, reserved_args

improved auth service and charting service
  openbb_platform/core/openbb_core/app/charting_service.py
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/openbb_core/app/service/auth_service.py
Due: pylint

using the extension loader on the registry
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/openbb_core/provider/registry.py
Due: pylint

typos
  openbb_platform/providers/alpha_vantage/tests/test_alpha_vantage_fetchers.py
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
Due: pylint

adding properties to extension loader for easy access
  openbb_platform/core/openbb_core/app/charting_service.py
  openbb_platform/core/openbb_core/app/extension_loader.py
Due: pylint

using the extension loader on the package builder
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

avoiding circular imports by using forward references
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/registry.py
Due: pylint

units descriptions
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
Due: pylint

jupyter-lab instead of jupyter
  website/content/platform/faqs/platform_vs_sdk.md
Due: none

Add a cache to fetcher for the same params.
  openbb_platform/core/openbb_core/provider/abstract/cache.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
Due: pylint

minor fix
  website/generate_excel_markdown.py
Due: pylint

remove spaces
  website/content/excel/reference/docs_map.json
  website/content/excel/reference/hist.md
  website/content/excel/reference/last.md
  website/content/excel/reference/library/equity/fundamental/historical_attributes.md
  website/content/excel/reference/library/equity/fundamental/latest_attributes.md
  website/content/excel/reference/library/equity/fundamental/transcript.md
  website/generate_excel_markdown.py
Due: pylint

bug fix: remove folder before generating
  website/generate_excel_markdown.py
Due: pylint

fix typo
  website/content/excel/usage/basics.md
Due: none

add link to appsource
  website/content/excel/getting-started/installation.md
Due: none

fix
  website/content/excel/getting-started/installation.md
Due: none

Update templates.md
  website/content/excel/usage/templates.md
Due: none

fix charting service tests
  openbb_platform/core/openbb_core/app/charting_service.py
  openbb_platform/core/tests/app/test_charting_service.py
Due: pylint

change docs colors
  website/src/components/General/NewReferenceCard.tsx
  website/src/css/custom.css
  website/src/theme/Navbar/Layout/index.js
Due: none

fix light mode
  website/src/components/General/NewReferenceCard.tsx
Due: none

add back tiingo
  website/content/excel/functions.json
  website/content/excel/reference/docs_map.json
  website/content/excel/reference/library/crypto/price/historical.md
  website/content/excel/reference/library/equity/fundamental/index.mdx
  website/content/excel/reference/library/equity/fundamental/trailing_dividend_yield.md
  website/content/excel/reference/library/equity/price/historical.md
  website/content/excel/reference/library/news/company.md
  website/content/excel/reference/library/news/world.md
Due: none

update functions.json
  website/content/excel/functions.json
Due: none

templates go later
  website/content/excel/usage/templates.md
Due: none

add fiscal_period to revenue by geography and business line
  openbb_platform/core/openbb_core/provider/standard_models/revenue_business_line.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_geographic.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_business_line.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_geographic.py
Due: pylint

data description and unused imports
  openbb_platform/core/openbb_core/provider/standard_models/revenue_business_line.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_geographic.py
Due: pylint

update test cassette
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_business_line_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_geographic_fetcher.yaml
Due: none

docs/platform-faq: Start Platform FAQ page with bullet points on Platform vs SDK (#5914)
  website/content/platform/faqs/_category_.json
  website/content/platform/faqs/data_providers.md
  website/content/platform/faqs/index.mdx
  website/content/platform/faqs/platform_vs_sdk.md
Due: none

remove Library from reference
  website/generate_excel_markdown.py
Due: pylint

Make the excel markdown being generated at runtime
  .github/workflows/gh-pages.yml
Due: none

fix reference cards having commands under menu
  website/generate_excel_markdown.py
Due: pylint

black formatting
  website/generate_excel_markdown.py
Due: pylint

hotfix/backend - Initialize OpenBBFigure (#5912)
  openbb_platform/extensions/charting/openbb_charting/core/backend.py
  openbb_platform/extensions/charting/openbb_charting/core/openbb_figure.py
Due: pylint

improve title
  website/content/excel/index.md
Due: none
