Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

forgot we need to do the requirements txt files
  requirements-full.txt
  requirements.txt
Due: none

not sure it matters, but run ruff + black
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/helper_funcs.py
Due: pylint

am addicted to bug fixes
  openbb_terminal/mutual_funds/mutual_fund_controller.py
Due: pylint, reserved_args

[Feature] - OBB.GET (#6097)
  website/content/excel/data-connectors.md
  website/content/excel/data-slicer.md
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Due: pylint

fix POST function params default value
  website/generate_platform_v4_markdown.py
Due: pylint

[Docs] Remove Reference to `to_chart` in OBBject. (#6096)
  website/content/platform/development/developer-guidelines/architectural_considerations.md
Due: none

add type expansion from package_builder.MethodDefinition
  website/generate_platform_v4_markdown.py
Due: pylint

WIP: Tweak description.
  website/content/pro/copilot.md
Due: none

WIP: Experimenting with react-player
  website/content/pro/copilot.md
  website/package-lock.json
  website/package.json
Due: none

sort data models cards alphabetically
  website/generate_platform_v4_markdown.py
Due: pylint

WIP: Add copilot docs.
  website/content/pro/copilot.md
Due: none

make MAX_CARDS global
  website/generate_platform_v4_markdown.py
Due: pylint

cleanup
  website/generate_platform_v4_markdown.py
Due: pylint

fixes videos width/height
  website/content/pro/copilot.md
  website/yarn.lock
Due: none

new endpoitns
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/economy/openbb_economy/markets/markets_router.py
Due: pylint

endpoint description
  openbb_platform/extensions/economy/openbb_economy/markets/markets_router.py
Due: pylint

standard model
  openbb_platform/core/openbb_core/provider/standard_models/market_historical.py
Due: pylint

rebuild
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

[Feature] - Create openbb assets folder (#6101)
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/tests/test_extension_map.py
Due: pylint

[BugFix] Fixes to_df() where the date series contains multiple TZ-offsets. (#6099)
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/currency_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
Due: pylint

volume as optional field
  openbb_platform/core/openbb_core/provider/standard_models/market_historical.py
Due: pylint

darkpool + discovery
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
Due: pylint

TEMarketHistorical fetcher
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/market_historical.py
Due: pylint

making the new fetcher visible
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
Due: pylint

WIP: Refine videos and copy.
  website/content/pro/copilot.md
Due: none

support for multiple symbols
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/market_historical.py
Due: pylint

fix paragraph issues
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
Due: pylint

fix descriptions
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
Due: pylint

WIP: Add last videos and sections.
  website/content/pro/copilot.md
Due: none

fundamental part 1
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
Due: pylint

Correct docstringing examples
  openbb_platform/extensions/quantitative/openbb_quantitative/performance/performance_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
Due: pylint

Update the quantitative extension to make more sense (#6087)
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
  openbb_platform/extensions/quantitative/openbb_quantitative/performance/performance_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/statistics.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/quantitative/tests/test_statistics.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/router_testers.py
Due: pylint

fundamental part2
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
Due: pylint

transcipts
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/openbb/package/equity_fundamental.py
Due: pylint

standard model update
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
Due: pylint

ownership
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/openbb/package/equity_ownership.py
Due: pylint

fix
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_ownership.py
Due: pylint

price
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/openbb/package/equity_price.py
Due: pylint

shorts
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
