Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

use full URL to other docs pages.
  website/content/platform/development/standardization.md
Due: none

quickstart for new router extension
  website/content/platform/how-to/add_command_examples.md
  website/content/platform/how-to/add_data_provider_extension.md
  website/content/platform/how-to/add_data_to_existing_endpoint.md
  website/content/platform/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/how-to/add_toolkit_extension.md
  website/content/platform/how-to/index.md
  website/content/platform/how-to/quickstart_new_router_extension.md
Due: none

Create Betway robot
  Betway robot
Due: none

section description
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

remove comment
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

show msg only if it's an OBBject
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

ommit coverage from menus
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

remove Literal[None,...]
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
Due: pylint

pylint: disable=unused-argument
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
Due: pylint

[BugFix] Remove `Literal[None,...]` (#6371)
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
Due: pylint

[HotFix] Fix broken URLs in docs page. (#6368)
  website/content/platform/development/standardization.md
Due: none

Improvements
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Due: pylint

styling: no new lines after settings
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

da3: minor updates
  website/package-lock.json
  website/package.json
  website/yarn.lock
Due: none

da3: upgrade react 18
  website/package.json
Due: none

Adapt and add unit test
  openbb_platform/core/openbb_core/provider/standard_models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_main_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Due: pylint

[BugFix] Set Chart Style Before Output (#6367)
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

[BugFix] - Fix lowercase symbols (#6342)
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Due: pylint

Fix user service
  openbb_platform/core/tests/app/service/test_user_service.py
Due: pylint

fix module import
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

proper Chart(...) mock
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

Fix SEC rss
  openbb_platform/providers/sec/openbb_sec/models/rss_litigation.py
Due: pylint

improve test on to_chart() method
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

Fix form 13F example filing
  openbb_platform/providers/sec/openbb_sec/models/form_13FHR.py
Due: pylint

remove broken example
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

[Feature] Handle repeated non standard arguments (#6366)
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

Add lxml dep to SEC
  openbb_platform/providers/sec/pyproject.toml
Due: none

Sync main and develop (#6373)
  website/content/platform/development/standardization.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

fix default
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
Due: pylint

fix: treasury_prices default date, last business day´
  .pre-commit-config.yaml
  openbb_platform/core/openbb_core/provider/standard_models/treasury_prices.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/tmx/openbb_tmx/models/treasury_prices.py
Due: pylint

fix: linting
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
Due: pylint

fix: rebuild
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__init__.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

^
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint

[BugFix] - Fix tests for release (#6372)
  .pre-commit-config.yaml
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_prices.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__init__.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/sec/openbb_sec/models/form_13FHR.py
  openbb_platform/providers/sec/openbb_sec/models/rss_litigation.py
  openbb_platform/providers/sec/pyproject.toml
  openbb_platform/providers/tmx/openbb_tmx/models/treasury_prices.py
Due: pylint

record test cassette
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_main_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Due: pylint

polygon test cassette
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
Due: none

currency pairs
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
Due: pylint

recapture test
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_main_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Due: pylint

mypy
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
