Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

remove platform tests file
  website/tests/test_platform_docs.py
Due: pylint

enable unused kwargs
  openbb_platform/providers/yfinance/openbb_yfinance/models/available_indices.py
Due: pylint

feat: create data tabs
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

fix: uncomment
  website/generate_excel_markdown.py
Due: pylint

fix: remove unecessary comment
  website/generate_excel_markdown.py
Due: pylint

sort side bar
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

comment
  website/generate_excel_markdown.py
Due: pylint

uncomment
  website/generate_excel_markdown.py
Due: pylint

use .dev functions.json + clean traverse
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Due: pylint

fix futures example
  website/generate_excel_markdown.py
Due: pylint

fix workflow
  .github/workflows/gh-pages.yml
Due: none

debug time
  tests/website/test_generate_docs.py
Due: pylint

see if the docs generate at least
  .github/workflows/gh-pages.yml
  tests/website/test_generate_docs.py
Due: pylint

ahhhh i found it
  openbb_terminal/keys_model.py
Due: pylint

getting there
  openbb_terminal/keys_model.py
Due: pylint

fix example
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

put the test first
  .github/workflows/gh-pages.yml
Due: none

some keys cleanup
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_terminal/keys_controller.py
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
Due: pylint, reserved_args

small change to error message
  openbb_terminal/keys_model.py
Due: pylint

[Docs] Adds Example Notebook for the Implied Earnings Move (#6128)
  examples/README.md
  examples/content.json
  examples/impliedEarningsMove.ipynb
  examples/impliedEarningsMove.webp
Due: none

add more examples into findSymbols
  examples/findSymbols.ipynb
  website/content/platform/usage/find_symbols.md
Due: none

point to .co
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Due: pylint

[Feature] - Sync with new openapi.json (#6137)
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

Fix the v3 markdown generation workflow (#6138)
  .github/workflows/gh-pages.yml
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
Due: pylint, reserved_args

update functions.json
  website/content/excel/functions.json
Due: none

remove ultima + althub
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/common/ultima_newsmonitor_view.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/behavioural_analysis/news_sentiment_model.py
  openbb_terminal/stocks/behavioural_analysis/news_sentiment_view.py
  openbb_terminal/stocks/stocks_controller.py
Due: pylint, reserved_args

update functions.json (#6140)
  website/content/excel/functions.json
Due: none

move twitter keys
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
Due: pylint, reserved_args

economy kill bigmac + remove eval + plot+ stored data
  openbb_terminal/economy/economy_controller.py
Due: pylint, reserved_args

am losing track
  CONTRIBUTING.md
  openbb_terminal/keys_controller.py
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/finviz_compare_model.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Due: pylint, reserved_args

oanda is next
  CONTRIBUTING.md
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/oanda/oanda_controller.py
  openbb_terminal/forex/oanda/oanda_model.py
  openbb_terminal/forex/oanda/oanda_view.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Due: pylint, reserved_args

brokers now
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/portfolio/brokers/README.md
  openbb_terminal/portfolio/brokers/__init__.py
  openbb_terminal/portfolio/brokers/bro_controller.py
  openbb_terminal/portfolio/brokers/brokers_helpers.py
  openbb_terminal/portfolio/brokers/coinbase/__init__.py
  openbb_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  openbb_terminal/portfolio/brokers/coinbase/coinbase_model.py
  openbb_terminal/portfolio/brokers/coinbase/coinbase_view.py
  openbb_terminal/portfolio/brokers/degiro/README.md
  openbb_terminal/portfolio/brokers/degiro/__init__.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_view.py
  openbb_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  openbb_terminal/portfolio/brokers/robinhood/robinhood_model.py
  openbb_terminal/portfolio/brokers/robinhood/robinhood_view.py
  openbb_terminal/portfolio/portfolio_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Due: pylint, reserved_args

disable fetcher in init and fetcher tests
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

disable provider test params from equity python and api tests
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

updated static
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

fix sdk in case anyone wants it
  openbb_terminal/core/sdk/controllers/__init__.py
  openbb_terminal/core/sdk/controllers/forex_sdk_controller.py
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/economy_sdk_model.py
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/forex_sdk_model.py
  openbb_terminal/core/sdk/models/keys_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/portfolio/__init__.py
  openbb_terminal/sdk.py
Due: pylint, reserved_args

missed an sdk endpoint
  openbb_terminal/stocks/comparison_analysis/sdk_helpers.py
Due: pylint

FMP
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
Due: pylint

tiingo
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

[BugFix] Display EconDB as source for macro
  openbb_terminal/miscellaneous/sources/openbb_default.json
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
