Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

crypto and currency views
  openbb_platform/extensions/crypto/openbb_crypto/__init__.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_views.py
  openbb_platform/extensions/currency/openbb_currency/__init__.py
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
Due: pylint

technical views
  openbb_platform/extensions/technical/openbb_technical/__init__.py
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
Due: pylint

economy views
  openbb_platform/extensions/economy/openbb_economy/__init__.py
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
Due: pylint

fixedincome views
  openbb_platform/extensions/fixedincome/openbb_fixedincome/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
Due: pylint

right description for price historical
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/price_historical.py
Due: pylint

unused
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

adjust test and deprecate the charting router
  openbb_platform/obbject_extensions/charting/openbb_charting/builder.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

import views only with charting installed
  openbb_platform/extensions/crypto/openbb_crypto/__init__.py
  openbb_platform/extensions/currency/openbb_currency/__init__.py
  openbb_platform/extensions/economy/openbb_economy/__init__.py
  openbb_platform/extensions/equity/openbb_equity/__init__.py
  openbb_platform/extensions/etf/openbb_etf/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/__init__.py
  openbb_platform/extensions/index/openbb_index/__init__.py
  openbb_platform/extensions/technical/openbb_technical/__init__.py
Due: pylint

fix: tests
  cli/tests/test_models_settings.py
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

fix: rebuild
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Due: pylint

fix: hub test
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

[BugFix] Pre release fixes (#6478)
  cli/tests/test_models_settings.py
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Due: pylint

Merge branch 'main' into develop (#6479)
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/user_guides/metadata.mdx
  website/docusaurus.config.ts
Due: none

PUBLISH.md
  build/pypi/openbb_platform/PUBLISH.md
Due: none

fix: update README.md
  README.md
  openbb_platform/core/README.md
  openbb_platform/extensions/commodity/README.md
  openbb_platform/extensions/crypto/README.md
  openbb_platform/extensions/currency/README.md
  openbb_platform/extensions/econometrics/README.md
  openbb_platform/extensions/economy/README.md
  openbb_platform/extensions/equity/README.md
  openbb_platform/extensions/fixedincome/README.md
  openbb_platform/extensions/index/README.md
  openbb_platform/extensions/news/README.md
  openbb_platform/extensions/quantitative/README.md
  openbb_platform/extensions/regulators/README.md
  openbb_platform/extensions/technical/README.md
  openbb_platform/obbject_extensions/charting/README.md
  openbb_platform/providers/alpha_vantage/README.md
  openbb_platform/providers/benzinga/README.md
  openbb_platform/providers/biztoc/README.md
  openbb_platform/providers/cboe/README.md
  openbb_platform/providers/ecb/README.md
  openbb_platform/providers/econdb/README.md
  openbb_platform/providers/federal_reserve/README.md
  openbb_platform/providers/finra/README.md
  openbb_platform/providers/finviz/README.md
  openbb_platform/providers/fmp/README.md
  openbb_platform/providers/fred/README.md
  openbb_platform/providers/government_us/README.md
  openbb_platform/providers/intrinio/README.md
  openbb_platform/providers/nasdaq/README.md
  openbb_platform/providers/oecd/README.md
  openbb_platform/providers/polygon/README.md
  openbb_platform/providers/sec/README.md
  openbb_platform/providers/seeking_alpha/README.md
  openbb_platform/providers/stockgrid/README.md
  openbb_platform/providers/tiingo/README.md
  openbb_platform/providers/tmx/README.md
  openbb_platform/providers/tradier/README.md
  openbb_platform/providers/tradingeconomics/README.md
  openbb_platform/providers/wsj/README.md
  openbb_platform/providers/yfinance/README.md
Due: none

fix: charting readme
  openbb_platform/obbject_extensions/charting/README.md
Due: none

Publish openbb
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Due: pylint

Regenerate assets
  assets/extensions/provider.json
Due: none

Publish cli
  cli/poetry.lock
  cli/pyproject.toml
Due: none

fix: comply w/ possibly used before assignment
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/session.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/extensions/tests/utils/router_testers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/base.py
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Due: pylint, reserved_args

remove disabe from .pylintrc
  .pylintrc
Due: none

remove reset test
  cli/tests/test_controllers_utils.py
Due: pylint

fix: update missing keys message
  openbb_platform/core/openbb_core/provider/query_executor.py
Due: pylint

[BugFix] - Fix pylint possibly-used-before-assignment (#6484)
  .pylintrc
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/session.py
  cli/tests/test_controllers_utils.py
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/extensions/tests/utils/router_testers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/base.py
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Due: pylint, reserved_args

feat: create cli dockerfile and update docs
  build/docker/cli.dockerfile
  build/docker/platform.dockerfile
  website/content/cli/installation.md
  website/content/platform/installation.mdx
Due: none

remove port mapping
  website/content/cli/installation.md
Due: none

fred bond indices
  openbb_platform/core/openbb_core/provider/standard_models/bond_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_indices_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

maturity dict
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
Due: pylint

review items
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
Due: pylint

remove old logging references
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

cli as logging subapp option
  openbb_platform/core/openbb_core/app/model/system_settings.py
Due: pylint

changing the subapp to the cli on init
  cli/openbb_cli/cli.py
  cli/openbb_cli/utils/utils.py
Due: pylint

Generate settings menu from pydantic model
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
Due: pylint, reserved_args

improve effr and move sofr to fixedincome.rate
  openbb_platform/core/openbb_core/provider/standard_models/fed_rates.py
  openbb_platform/core/openbb_core/provider/standard_models/federal_funds_rate.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/fed_rates.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/federal_funds_rate.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/ny_fed_api.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fed_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_federal_funds_rate_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/fed_rates.py
  openbb_platform/providers/fred/openbb_fred/models/federal_funds_rate.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_federal_funds_rate_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredfed_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

federal_reserve default start date
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/federal_funds_rate.py
  openbb_platform/providers/fred/openbb_fred/models/federal_funds_rate.py
Due: pylint
