Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

use cache as std field
  openbb_platform/core/openbb_core/provider/standard_models/cot_search.py
  openbb_platform/providers/sec/openbb_sec/models/institutions_search.py
  openbb_platform/providers/sec/openbb_sec/models/sic_search.py
Due: pylint

lint
  openbb_platform/extensions/regulators/openbb_regulators/sec/sec_router.py
Due: pylint

fix tests
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
Due: pylint

fix tests
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/tests/test_provider_field_dupes.py
Due: pylint

keep the skip
  openbb_platform/providers/tests/test_provider_field_dupes.py
Due: pylint

exclude provider on data model for package build
  openbb_platform/core/openbb_core/provider/abstract/data.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

use_cache as std
  openbb_platform/core/openbb_core/provider/standard_models/equity_search.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_search.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_search.py
  openbb_platform/providers/sec/openbb_sec/models/equity_search.py
Due: pylint

adjust tests
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

fix test
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

[BugFix] - Improve Standardization - `IndexHistorical` (#6030)
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/tests/test_provider_field_dupes.py
Due: pylint

`results_type_repr` logic for `Annotated`, ignore provider field in `_extract_data`
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/provider_interface.py
Due: pylint

Add sort, template, and pr_template to configuration_platform.json
  build/configs/configuration_platform.json
Due: none

accept kwargs to eg. save image
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

adding missing param
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
Due: pylint

Add workflow_dispatch event to platform-release.yml
  .github/workflows/platform-release.yml
Due: none

Update platform-release workflow to include manual input for tag
  .github/workflows/platform-release.yml
  openbb_platform/CHANGELOG.md
Due: none

fix: fix bug in hedge controller
  openbb_terminal/stocks/options/hedge/hedge_controller.py
Due: pylint, reserved_args

fix: another bug hedgecontroller
  openbb_terminal/stocks/options/hedge/hedge_controller.py
Due: pylint, reserved_args

black
  openbb_terminal/stocks/options/hedge/hedge_controller.py
Due: pylint, reserved_args

fix tests accordingly
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
Due: pylint

[BugFix] - Improve Standardization - `CotSearch` (#6031)
  openbb_platform/core/openbb_core/provider/standard_models/cot_search.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/providers/sec/openbb_sec/models/institutions_search.py
  openbb_platform/providers/sec/openbb_sec/models/sic_search.py
Due: pylint

yfinance field name
  openbb_platform/providers/yfinance/openbb_yfinance/models/historical_dividends.py
Due: pylint

re-record test
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_search_fetcher.yaml
Due: none

ruff
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
Due: pylint

black
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
Due: pylint

missing test params
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

Docs/byod (#5996)
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  website/content/excel/data-conectors.md
  website/content/excel/functions.json
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/installation.md
  website/content/excel/openapi.json
  website/content/excel/templates.mdx
  website/content/pro/main-menu/data-connectors/integrate-your-own-backend.md
  website/generate_excel_markdown.py
  website/src/pages/index.tsx
Due: pylint, reserved_args

Add databento extension into obb.
  openbb_platform/providers/databento/README.md
  openbb_platform/providers/databento/openbb_databento/__init__.py
  openbb_platform/providers/databento/openbb_databento/models/futures_curve.py
  openbb_platform/providers/databento/openbb_databento/utils/helpers.py
  openbb_platform/providers/databento/poetry.lock
  openbb_platform/providers/databento/pyproject.toml
Due: pylint

Feature/ex-dividend: Renames "date" columns as "ex_dividend_date" for Dividend Calendar and Historical Dividends (#6006)
  openbb_platform/core/openbb_core/provider/standard_models/calendar_dividend.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_dividends.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/calendar_dividend.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_dividends.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_historical_dividends_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/historical_dividends.py
Due: pylint

[BugFix] - Adds a timezone to the Unix timestamp conversion to correct localization errors. (#6023)
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_snapshots.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_crypto_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
Due: pylint

Add eod OPRA data
  openbb_platform/providers/databento/openbb_databento/__init__.py
  openbb_platform/providers/databento/openbb_databento/models/options_chains.py
  openbb_platform/providers/databento/openbb_databento/utils/helpers.py
Due: pylint

Add helper docstrings + logic for last business day + some lint
  openbb_platform/providers/databento/openbb_databento/models/futures_curve.py
  openbb_platform/providers/databento/openbb_databento/models/options_chains.py
  openbb_platform/providers/databento/openbb_databento/utils/helpers.py
Due: pylint

fix openapi schema fields `to_snake`
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

options router
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
Due: pylint

Use field_validator instead
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Due: pylint

Hotfix/wrong pydantic validator (#6037)
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Due: pylint

fix openapi schema fields `to_snake` (#6036)
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

Fix data connectors link typo
  website/content/excel/data-connectors.md
Due: none
