Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

commodity router
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
Due: pylint

treasury prices
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/government_us/tests/record/http/test_government_us_fetchers/test_government_us_treasury_prices_fetcher.yaml
  openbb_platform/providers/government_us/tests/test_government_us_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
Due: pylint

oecd tests
  openbb_platform/providers/econdb/openbb_econdb/utils/main_indicators.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_cpi_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdcli_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdltir_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdstir_fetcher.yaml
Due: pylint

finra
  openbb_platform/providers/finra/openbb_finra/utils/helpers.py
  openbb_platform/providers/finra/tests/record/http/test_finra_fetchers/test_finra_otc_aggregate_fetcher.yaml
Due: pylint

better handling of the chart arg: falls back to charting.to_chart() and only then, if not possible to display falls back to the print_rich_table()
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

Add tests
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

[Feature] - Add derivates historical chart (#6520)
  openbb_platform/core/openbb_core/provider/standard_models/euro_short_term_rate.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
Due: pylint

Add more test cases
  cli/integration/test_commands.py
Due: pylint

[Feature] - CLI integration tests (#6533)
  cli/integration/test_commands.py
  cli/integration/test_integration_base_controller.py
  cli/integration/test_integration_base_platform_controller.py
  cli/integration/test_integration_cli_controller.py
  cli/integration/test_integration_hub_service.py
  cli/integration/test_integration_obbject_registry.py
Due: pylint, reserved_args

handling chart arguments aka unknown arguments
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

propagating changes on return type of parse_simple_args to choices.py for coherency
  cli/openbb_cli/controllers/choices.py
Due: pylint

fixing local variable 'export' referenced before assignment
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

[Feature] Improvements to handling charts on the CLI `results` (#6544)
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

fixing local variable 'export' referenced before assignment (#6545)
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fixing local variable 'export' referenced before assignment (#6546)
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

container cleanup
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_historical.py
Due: pylint

black
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
Due: pylint

forgotten file
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
Due: pylint

linter
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Due: pylint

Fix some tests
  .pre-commit-config.yaml
  cli/integration/test_integration_obbject_registry.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Due: pylint

Enable 3.12 support
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/quantitative/pyproject.toml
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/regulators/pyproject.toml
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Due: none

Allow 3.12 for sec provider
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Due: none

Add chart
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/futures_curve.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
Due: pylint

fix logging service, fix posthog handler tests
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

check exec_info > 1
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Due: pylint

remove wrapped ""
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Refactor publish.py
  build/pypi/openbb_platform/publish.py
Due: pylint

fix: detect log message bugs
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

fix: update log docstring
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Due: pylint

^
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Due: pylint

review change
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Due: pylint

fix logging service
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

multiple dates allowed for yfinance
  openbb_platform/core/openbb_core/provider/standard_models/futures_curve.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Due: pylint

redefine local
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Due: pylint

fix logging service (#6549)
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Due: pylint

versions bump
  openbb_platform/core/pyproject.toml
Due: none

versions bump
  cli/pyproject.toml
Due: none

ruff
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
