Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

fix: cli max rows
  cli/openbb_cli/controllers/utils.py
Due: pylint

fix: settings menu
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

Bugfix/cli max rows (#6374)
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

add a new line only to separate menus and commands
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

if there's no menu description on reference.json, use the commands of that menu to create a pseudo description
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

fix pandas warnings
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
Due: pylint

use the PATH instead in the top of the menu help
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

default name len to 23
  cli/openbb_cli/config/menu_text.py
Due: pylint

[Feature] EconDB Main Indicators (#6365)
  openbb_platform/core/openbb_core/provider/standard_models/economic_indicators.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/utils/main_indicators.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_main_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
Due: pylint

add 'x-' to json_schema_extra - unit_measurement
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/bond_prices.py
  openbb_platform/providers/tmx/openbb_tmx/models/calendar_earnings.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_quote.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_holdings.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_info.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_search.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
Due: pylint

mypy
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

more mypy
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

yeet stuff that can't be used
  website/content/cli/_category_.json
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/usage/commands-and-arguments.md
  website/content/cli/usage/customizing-the-terminal.md
  website/content/cli/usage/data/api-keys.md
  website/content/cli/usage/data/data-sources.md
  website/content/cli/usage/data/openbbuserdata.md
  website/content/cli/usage/hub.md
  website/content/cli/usage/keyboard-hotkey-macros.md
  website/content/cli/usage/outputs/export-data.md
  website/content/cli/usage/outputs/interactive-charts.md
  website/content/cli/usage/outputs/interactive-tables.md
  website/content/cli/usage/overview/commands-and-arguments.md
  website/content/cli/usage/routines/community-routines.md
  website/content/cli/usage/routines/introduction-to-routines.md
  website/content/cli/usage/routines/pipeline-of-commands.md
  website/content/cli/usage/routines/routine-macro-recorder.md
  website/content/cli/usage/routines/routines-for-power-users.md
  website/content/cli/usage/structure-and-navigation.md
Due: none

comments & details
  .pre-commit-config.yaml
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

[BugFix] Ad 'x-' to json_schema_extra in Fields with unit_measurement (#6376)
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/bond_prices.py
  openbb_platform/providers/tmx/openbb_tmx/models/calendar_earnings.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_quote.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_holdings.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_info.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_search.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
Due: pylint

fix pandas warnings (#6375)
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
Due: pylint

fix: fix api & update docs website
  openbb_platform/core/openbb_core/provider/registry_map.py
  website/generate_platform_v4_markdown.py
Due: pylint

^
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

remove empty info
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
Due: pylint

descriptions
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
Due: pylint

descriptions
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_estimates.py
Due: pylint

fix reference.json
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

da3: upgrade docusaurus 3, fix math in tables
  website/babel.config.cjs
  website/content/sdk/reference/portfolio/po/hcp.md
  website/content/sdk/reference/portfolio/po/hcp.mdx
  website/content/sdk/reference/portfolio/po/herc.md
  website/content/sdk/reference/portfolio/po/herc.mdx
  website/content/sdk/reference/portfolio/po/hrp.md
  website/content/sdk/reference/portfolio/po/hrp.mdx
  website/content/sdk/reference/portfolio/po/nco.md
  website/content/sdk/reference/portfolio/po/nco.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/pnpm-lock.yaml
  website/sidebars.js
  website/src/pages/index.tsx
  website/src/theme/ColorModeToggle/index.js
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/DocSidebarItem/index.js
  website/src/theme/Footer/index.js
  website/src/theme/Navbar/Layout/index.js
  website/src/theme/NotFound.js
  website/src/theme/SearchBar/index.js
  website/tailwind.config.ts
  website/tsconfig.json
  website/yarn.lock
Due: none

remove debug code
  website/generate_platform_v4_markdown.py
Due: pylint

docstring
  openbb_platform/core/openbb_core/provider/abstract/query_params.py
Due: pylint

fix: standard fields propagate to providers
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

comment
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

better
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

mypy fixes
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/analyst_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_equity_exposure.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target.py
  openbb_platform/providers/fred/openbb_fred/models/cpi.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_snapshots.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
Due: pylint

mypy fixes
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
Due: pylint

keep command on the obbject so it can be shown on the results
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

some progress
  website/content/cli/_category_.json
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/quickstart.md
  website/content/cli/usage/commands-and-arguments.md
  website/sidebars.js
  website/src/theme/DocSidebarItem/Category/index.js
Due: none

Add home screenshot
  website/content/cli/index.md
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
