Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

update example notebook syntax for metadata change (#6287)
  examples/usdLiquidityIndex.ipynb
Due: none

new reference structure
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Seggregate data commands from others (settings etc)
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

[Feature] Add Forward Sales and EPS Estimates (#6269)
  openbb_platform/core/openbb_core/provider/standard_models/forward_eps_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/forward_sales_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target_consensus.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/forward_eps_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target_consensus.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_forward_eps_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/price_target_consensus.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_eps_estimates_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_sales_estimates_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_price_target_consensus_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
Due: pylint

fix table html for charting extension
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
Due: none

number of rows and columns as a setting
  openbb_terminal/core/models/settings.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
Due: pylint, reserved_args

interactive tables
  openbb_terminal/helper_funcs.py
Due: pylint

new descriptions
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/crypto/openbb_crypto/price/price_router.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/currency/openbb_currency/price/price_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_router.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/regulators/openbb_regulators/regulators_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

undo sub routers
  openbb_platform/extensions/crypto/openbb_crypto/price/price_router.py
  openbb_platform/extensions/currency/openbb_currency/price/price_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

[Feature] - Router descriptions (#6288)
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_router.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/regulators/openbb_regulators/regulators_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

Added data connector docs (#6286)
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

Updated docs again
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

Updated docs again (#6289)
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Due: none

handling tables
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

fixes and maing linting happy
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

adding menu descriptions
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

[Feature] Bug fixing the Platform CLI (#6291)
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
  openbb_terminal/base_platform_controller.py
  openbb_terminal/core/models/settings.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

ruff
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Due: pylint

Linting
  openbb_platform/providers/biztoc/openbb_biztoc/utils/helpers.py
  openbb_platform/providers/finra/openbb_finra/utils/helpers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot_search.py
Due: pylint

fix the way reference was being passed
  openbb_terminal/base_platform_controller.py
  openbb_terminal/rich_config.py
Due: pylint, reserved_args

fix choices parsing for providers
  argparse_translator/argparse_translator.py
Due: pylint

MyPy
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_attributes.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
Due: pylint

black
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
Due: pylint

comment
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

send warning if v3 keys found
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

loosen to get instead
  argparse_translator/argparse_class_processor.py
Due: pylint

tradier v3
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

keep v3 intact
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

better
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

reset index and route as default title
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

economy router
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
