Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

remove validator because pytest doesn't know what to do
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
Due: pylint

rename method
  openbb_terminal/src/controllers/base_controller.py
  openbb_terminal/src/controllers/hub_service.py
Due: pylint, reserved_args

rename method
  openbb_terminal/src/controllers/base_controller.py
Due: pylint, reserved_args

fix routines
  openbb_terminal/src/controllers/base_controller.py
  openbb_terminal/src/controllers/hub_service.py
  openbb_terminal/src/session.py
Due: pylint, reserved_args

read settings from .env
  openbb_terminal/src/models/settings.py
  openbb_terminal/src/session.py
Due: pylint

[BugFix] Intrinio Balance Sheet Period (#6343)
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
Due: pylint

rename methods
  openbb_terminal/src/session.py
Due: pylint

^
  openbb_terminal/src/session.py
Due: pylint

better
  openbb_terminal/src/session.py
Due: pylint

bug
  openbb_terminal/src/controllers/terminal_controller.py
Due: pylint, reserved_args

fix data processing commands: not allowing multiple items + need to allow 0 (which evalutes as false)
  openbb_terminal/core/controllers/base_platform_controller.py
Due: pylint, reserved_args

^
  openbb_terminal/src/controllers/terminal_controller.py
Due: pylint, reserved_args

revert changes
  frontend-components/plotly/src/components/Dialogs/AlertDialog.tsx
  frontend-components/plotly/src/components/Dialogs/DownloadFinishedDialog.tsx
  frontend-components/plotly/src/components/Dialogs/OverlayChartDialog.tsx
  frontend-components/plotly/src/components/Dialogs/TitleChartDialog.tsx
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

type checking only
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_terminal/src/config/console.py
Due: pylint

docstring
  openbb_terminal/src/session.py
Due: pylint

fix: settings autocomplete
  openbb_terminal/src/controllers/feature_flags_controller.py
Due: pylint, reserved_args

comment
  openbb_terminal/src/models/settings.py
Due: pylint

use openbb_core singleton
  openbb_terminal/src/models/singleton.py
  openbb_terminal/src/session.py
Due: pylint

[BugFix] Docker yamls are missing in main. Updated the docs to point the yamls in latest release.
  website/content/terminal/installation/docker.md
Due: none

split comma separated strings into a list so that the cli can consume them
  openbb_terminal/core/controllers/base_controller.py
Due: pylint, reserved_args

Move files used in gh actions from root
  .github/scripts/process_changelog.py
  .github/scripts/summarize_changelog.py
  .github/workflows/draft-release.yml
  .github/workflows/platform-core.yml
  openbb_platform/noxfile.py
  openbb_platform/pyproject.toml
Due: pylint

keep this
  openbb_platform/pyproject.toml
Due: none

pydocstyle
  openbb_platform/noxfile.py
Due: pylint

^
  openbb_platform/noxfile.py
Due: pylint

fix: relative path, os independent
  openbb_platform/tests/test_pyproject_toml.py
Due: pylint

use relative root path
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/tests/test_pyproject_toml.py
Due: pylint

^
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
Due: pylint

rename src to fix openbb command
  openbb_terminal/openbb_terminal/__init__.py
  openbb_terminal/openbb_terminal/argparse_translator/__init__.py
  openbb_terminal/openbb_terminal/argparse_translator/argparse_class_processor.py
  openbb_terminal/openbb_terminal/argparse_translator/argparse_translator.py
  openbb_terminal/openbb_terminal/argparse_translator/obbject_registry.py
  openbb_terminal/openbb_terminal/assets/i18n/en.yml
  openbb_terminal/openbb_terminal/assets/routines/routine_example.openbb
  openbb_terminal/openbb_terminal/assets/styles/default/Consolas.ttf
  openbb_terminal/openbb_terminal/assets/styles/default/dark.mpfstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/dark.mplrc.json
  openbb_terminal/openbb_terminal/assets/styles/default/dark.mplstyle
  openbb_terminal/openbb_terminal/assets/styles/default/dark.pltstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/dark.richstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/light.mpfstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/light.mplrc.json
  openbb_terminal/openbb_terminal/assets/styles/default/light.mplstyle
  openbb_terminal/openbb_terminal/assets/styles/default/light.pltstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/light.richstyle.json
  openbb_terminal/openbb_terminal/assets/styles/default/tables.pltstyle.json
  openbb_terminal/openbb_terminal/assets/styles/user/openbb.richstyle.json
  openbb_terminal/openbb_terminal/cli.py
  openbb_terminal/openbb_terminal/config/__init__.py
  openbb_terminal/openbb_terminal/config/completer.py
  openbb_terminal/openbb_terminal/config/console.py
  openbb_terminal/openbb_terminal/config/constants.py
  openbb_terminal/openbb_terminal/config/menu_text.py
  openbb_terminal/openbb_terminal/config/setup.py
  openbb_terminal/openbb_terminal/config/style.py
  openbb_terminal/openbb_terminal/controllers/base_controller.py
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
  openbb_terminal/openbb_terminal/controllers/choices.py
  openbb_terminal/openbb_terminal/controllers/feature_flags_controller.py
  openbb_terminal/openbb_terminal/controllers/hub_service.py
  openbb_terminal/openbb_terminal/controllers/platform_controller_factory.py
  openbb_terminal/openbb_terminal/controllers/script_parser.py
  openbb_terminal/openbb_terminal/controllers/terminal_controller.py
  openbb_terminal/openbb_terminal/controllers/utils.py
  openbb_terminal/openbb_terminal/models/settings.py
  openbb_terminal/openbb_terminal/session.py
  openbb_terminal/pyproject.toml
Due: pylint, reserved_args

fix poetry build
  openbb_terminal/README.md
  openbb_terminal/pyproject.toml
Due: none

readme
  openbb_terminal/README.md
Due: none

move noxfile.py to .github/scripts
  .github/scripts/noxfile.py
  .github/workflows/platform-core.yml
  openbb_platform/noxfile.py
Due: pylint

remove flag
  .github/scripts/noxfile.py
Due: pylint

Move files used in gh actions from root (#6346)
  .github/scripts/noxfile.py
  .github/scripts/process_changelog.py
  .github/scripts/summarize_changelog.py
  .github/workflows/draft-release.yml
  .github/workflows/platform-core.yml
  noxfile.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/tests/test_pyproject_toml.py
Due: pylint

provider parameters were being removed bc not in signature
  openbb_terminal/openbb_terminal/argparse_translator/argparse_translator.py
Due: pylint

Clean gitignore
  .gitignore
Due: none

Clean gitignore (#6347)
  .gitignore
Due: none
