Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

clear merge conflicts
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
Due: pylint

forgot to clear check artifact
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
Due: pylint

more linting stuff apparently
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_holdings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
Due: pylint

remove `parse_date`
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_financial_ratios_fetcher.yaml
Due: pylint

Update helpers.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
Due: pylint

static files
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
Due: pylint

poetry lock
  poetry.lock
Due: none

use openbb field
  argparse_translator/argparse_translator.py
Due: pylint

safe json conversion and trimming
  argparse_translator/obbject_registry.py
Due: pylint

Re update excel docs
  .gitignore
  website/.gitignore
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

better at finding nargs when union
  argparse_translator/argparse_translator.py
Due: pylint

[Docs] - Update excel docs (#6328)
  .gitignore
  website/.gitignore
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

Re update excel docs (#6329)
  .gitignore
  website/.gitignore
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Due: pylint

[Feature] EconDB Provider Extension With New Economy Endpoints. (#6313)
  .codespell.ignore
  openbb_platform/core/openbb_core/provider/standard_models/available_indicators.py
  openbb_platform/core/openbb_core/provider/standard_models/country_profile.py
  openbb_platform/core/openbb_core/provider/standard_models/economic_indicators.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/poetry.lock
  openbb_platform/providers/econdb/README.md
  openbb_platform/providers/econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/available_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/models/country_profile.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/utils/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/utils/helpers.py
  openbb_platform/providers/econdb/openbb_econdb/utils/indicator_countries.json
  openbb_platform/providers/econdb/openbb_econdb/utils/indicators_descriptions.json
  openbb_platform/providers/econdb/openbb_econdb/utils/multipliers.json
  openbb_platform/providers/econdb/openbb_econdb/utils/scales.json
  openbb_platform/providers/econdb/openbb_econdb/utils/symbol_to_indicator.json
  openbb_platform/providers/econdb/openbb_econdb/utils/units.json
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/econdb/pyproject.toml
  openbb_platform/providers/econdb/tests/__init__.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_available_indicators_fetcher.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_country_profile_fetcher.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
  openbb_platform/pyproject.toml
  website/content/platform/usage/economic_indicators.md
Due: pylint

Sync ruff in dev_tool with openbb_core
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

Sync ruff in dev_tool with openbb_core (#6331)
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

Introduction
  website/content/platform/explanation/index.md
  website/content/platform/index.md
  website/content/platform/index.mdx
Due: none

add currency snapshots from polygon
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_snapshots.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_snapshots_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Due: pylint

add currency snapshots from polygon (#6333)
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_snapshots.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_snapshots_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Due: pylint

improved obbject registry using a stack
  argparse_translator/obbject_registry.py
  openbb_terminal/base_platform_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

data processing section
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Update argparse_translator/argparse_class_processor.py
  argparse_translator/argparse_class_processor.py
Due: pylint

fix: remove unused function
  openbb_terminal/core/session/utils.py
Due: pylint

fix: terminal.py -> openbb_terminal/cli.py
  openbb_terminal/cli.py
Due: pylint

fix: move local model function to utils & delete module
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_helper.py
Due: pylint

fix: rename hub_model.py to hub_service.py
  openbb_terminal/core/session/hub_service.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/parent_classes.py
Due: pylint

fix: delete paths_helper.py, not used
  openbb_terminal/core/config/paths_helper.py
Due: pylint

fix: circular import console
  openbb_terminal/core/session/utils.py
Due: pylint

warn and info when countries above 28
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
Due: pylint

fix: move terminal_style.py from plots/ to config, delete plots/
  openbb_terminal/core/config/terminal_style.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/rich_config.py
Due: pylint, reserved_args

fix: delele base_helpers.py, function moved to env_handler.py
  openbb_terminal/base_helpers.py
  openbb_terminal/cli.py
  openbb_terminal/core/config/config_terminal.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_helper.py
  tests/conftest.py
Due: pylint

fix: move custom_prompt_toolkit.py to core/completer
  openbb_terminal/base_platform_controller.py
  openbb_terminal/core/completer/custom_prompt_toolkit.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

fix: delete requirements.txt, we can export them later if needed
  openbb_terminal/requirements-full.txt
  openbb_terminal/requirements.txt
Due: none

fix: move routines stuff to routines/
  openbb_terminal/routines/__init__.py
  openbb_terminal/routines/account_view.py
  openbb_terminal/routines/routine_functions.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

fix: move rich_config.py to core/config
  openbb_terminal/base_platform_controller.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/config/rich_config.py
  openbb_terminal/core/session/hub_service.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/menu.py
  openbb_terminal/parent_classes.py
  openbb_terminal/routines/account_view.py
  openbb_terminal/routines/routine_functions.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Due: pylint, reserved_args

fix: rename parent_classes.py to base_controller.py
  openbb_terminal/base_controller.py
  openbb_terminal/base_platform_controller.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Danger: create controllers/ and move stuff
  openbb_terminal/cli.py
  openbb_terminal/core/controllers/base_controller.py
  openbb_terminal/core/controllers/base_platform_controller.py
  openbb_terminal/core/controllers/choices.py
  openbb_terminal/core/controllers/featflags_controller.py
  openbb_terminal/core/controllers/helper_funcs.py
  openbb_terminal/core/controllers/intro.json
  openbb_terminal/core/controllers/menu.py
  openbb_terminal/core/controllers/platform_controller_factory.py
  openbb_terminal/core/controllers/terminal_controller.py
  openbb_terminal/core/controllers/terminal_helper.py
  openbb_terminal/core/session/launcher.py
  openbb_terminal/routines/account_view.py
Due: pylint, reserved_args
