Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

yfinance
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/references.py
Due: pylint

intrinio
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

fix intraday check in charting ta_class (#6119)
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
Due: pylint

[BugFix] Display EconDB as source for macro (#6143)
  openbb_terminal/miscellaneous/sources/openbb_default.json
Due: none

move constant dicts to constants.py
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
Due: pylint

spec file
  build/pyinstaller/terminal.spec
Due: none

[BugFix] Disable Intrinio `InstitutionalOwnership` model (#6142)
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

black
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
Due: pylint

small edits for installer
  build/pyinstaller/macOS/darwin/Resources/LICENSE.txt
  openbb_terminal/forex/forex_controller.py
  terminal.py
Due: pylint, reserved_args

black again again
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
Due: pylint

revert changes to cashflow models
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
Due: pylint

remove print
  website/generate_excel_markdown.py
Due: pylint

update obb.get docs
  website/content/excel/functions.json
Due: none

example
  website/content/excel/data-slicer.md
Due: none

stop the int tests on these
  .github/workflows/macos-build.yml
Due: none

str or int for id on company news
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
Due: pylint

adjustment to the description of prev_close
  openbb_platform/core/openbb_core/provider/standard_models/etf_info.py
Due: pylint

polygon
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
Due: pylint

fmp interval descriptions
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Due: pylint

always be fixin bugs
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
Due: pylint

some more removals
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/stocks_controller.py
Due: pylint, reserved_args

add more examples into findSymbols (#6139)
  examples/findSymbols.ipynb
  website/content/platform/usage/find_symbols.md
Due: none

[BugFix] Fix SEC ETF Holdings Parsing Exception (#6121)
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

md lint
  website/content/excel/data-slicer.md
Due: none

Docs/update xl docs (#6145)
  website/content/excel/data-slicer.md
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Due: pylint

alpha_vantage
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/utils/helpers.py
Due: pylint

update unit tests
  openbb_platform/providers/alpha_vantage/tests/record/http/test_alpha_vantage_fetchers/test_av_equity_historical_fetcher.yaml
  openbb_platform/providers/alpha_vantage/tests/test_alpha_vantage_fetchers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_crypto_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_equity_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_crypto_historical_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_currency_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_crypto_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_currency_historical_fetcher.yaml
Due: pylint

tests
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
Due: pylint

static files
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
Due: pylint

black
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
Due: pylint

black
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Due: pylint

black again
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
Due: pylint

codespell
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
Due: pylint

codespell again
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
Due: pylint

futures historical
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Due: pylint

ruff
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
Due: pylint

some more black
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

pylint
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
Due: pylint

now black again
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
Due: pylint

test params
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
