Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

get_weekday
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
Due: pylint

Update labeler.yml with new label for Excel files
  .github/labeler.yml
Due: none

Merge pull request #28 from luqmanbello/hotfix/test-label
  .github/release-drafter.yml
  openbb_platform/README.md
Due: none

Disable auto_build on test run
  noxfile.py
Due: pylint

Add field order to OBBject
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

Improvements
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/preferences.py
Due: pylint

Remove noxfile
  noxfile.py
Due: pylint

set version to `1.0.0`
  openbb_platform/providers/finviz/pyproject.toml
Due: none

Set correct dep version in main package
  openbb_platform/pyproject.toml
Due: none

Add `finviz` to table
  openbb_platform/README.md
Due: none

feat: add & fix examples
  openbb_platform/core/openbb_core/app/example_generator.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_search.py
  openbb_platform/core/tests/app/static/test_example_generator.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

fix: ruff + comment
  openbb_platform/core/openbb_core/app/example_generator.py
Due: pylint

feat: add & fix examples (#6001)
  openbb_platform/core/openbb_core/app/example_generator.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_search.py
  openbb_platform/core/tests/app/static/test_example_generator.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

fixing lints
  openbb_terminal/alternative/companieshouse/companieshouse_controller.py
  openbb_terminal/alternative/companieshouse/companieshouse_model.py
  openbb_terminal/alternative/companieshouse/companieshouse_view.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
Due: pylint, reserved_args

fixing lints
  openbb_terminal/dashboards/stream/pages/Stocks.py
  openbb_terminal/forex/oanda/oanda_view.py
  openbb_terminal/stocks/options/hedge/hedge_model.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
Due: pylint

black
  openbb_terminal/dashboards/stream/pages/Indicators.py
Due: pylint

very ruff
  openbb_terminal/stocks/options/hedge/hedge_model.py
Due: pylint

no export
  openbb_terminal/alternative/companieshouse/companieshouse_controller.py
Due: pylint, reserved_args

fix hedge_view again
  openbb_terminal/stocks/options/hedge/hedge_view.py
Due: pylint

lints
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_curve.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/providers/ecb/openbb_ecb/models/eu_yield_curve.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/fed_rates.py
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
Due: pylint

platform lints
  openbb_platform/providers/sec/openbb_sec/models/schema_files.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/wsj/openbb_wsj/models/gainers.py
  openbb_platform/providers/wsj/openbb_wsj/models/losers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
Due: pylint

lints
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

black
  openbb_platform/providers/sec/openbb_sec/models/schema_files.py
Due: pylint

black it @hjoaquim
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

fix some more linting
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/providers/ecb/openbb_ecb/models/eu_yield_curve.py
Due: pylint

Release `openbb-finviz` `1.0.0` to the public (#6000)
  openbb_platform/README.md
  openbb_platform/providers/finviz/pyproject.toml
  openbb_platform/pyproject.toml
Due: none

custom deprecation
  openbb_platform/core/openbb_core/app/deprecation.py
Due: pylint

custom deprecation
  openbb_platform/core/openbb_core/app/router.py
Due: pylint

using the new deprecation
  openbb_platform/extensions/index/openbb_index/index_router.py
Due: pylint

update deps
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

unpinned package versions from gh linting action
  .github/workflows/linting.yml
Due: none

feat: read parameter pool from file
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/core/openbb_core/app/constants.py
  openbb_platform/core/openbb_core/app/example_generator.py
Due: pylint

custom deprecation on the package builder
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

remove comment
  openbb_platform/core/openbb_core/app/router.py
Due: pylint

codespell
  website/content/platform/extensions/toolkit_extensions.md
  website/content/terminal/menus/stocks/comparison.md
  website/content/terminal/usage/keyboard-hotkey-macros.md
Due: none

feat: typing + unit test
  openbb_platform/core/openbb_core/app/example_generator.py
  openbb_platform/core/tests/app/static/test_example_generator.py
Due: pylint

updated black dependency
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

linting
  openbb_terminal/keys_model.py
Due: pylint
