Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

min height
  website/src/components/General/TemplateCard.tsx
Due: none

update hub state instead of replacing
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/static/account.py
Due: pylint

remove unused file
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_platform/core/tests/app/model/hub/test_features_keys.py
Due: pylint

fix unittests
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

ruff
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
Due: pylint

add comment
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

remove lc
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

fix limit param
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
Due: pylint

pylint unused argument, recapture test cassette
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_dividends_fetcher.yaml
Due: pylint

Add composite leading indicator
  openbb_platform/core/openbb_core/provider/standard_models/composite_leading_indicator.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_forecast_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_nominal_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_real_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Due: pylint

pylint
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
Due: pylint

pylint2
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
Due: pylint

Update openbb_platform/obbject_extensions/charting/charting/__init__.py
  openbb_platform/obbject_extensions/charting/charting/__init__.py
Due: pylint

add finviz provider
  openbb_platform/core/openbb_core/provider/standard_models/compare_groups.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/providers/finviz/README.md
  openbb_platform/providers/finviz/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/models/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_performance.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/finviz/openbb_finviz/models/py.typed
  openbb_platform/providers/finviz/openbb_finviz/py.typed
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/finviz/pyproject.toml
  openbb_platform/providers/finviz/tests/__init__.py
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_compare_groups_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_equity_profile_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_key_metrics_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_performance_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_target_fetcher.yaml
  openbb_platform/providers/finviz/tests/test_finviz_fetchers.py
  openbb_platform/pyproject.toml
Due: pylint

recapture tests
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_compare_groups_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_equity_profile_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_key_metrics_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_performance_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_target_fetcher.yaml
  openbb_platform/providers/finviz/tests/test_finviz_fetchers.py
Due: pylint

recapture tests again?
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_compare_groups_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_equity_profile_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_key_metrics_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_performance_fetcher.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_price_target_fetcher.yaml
  openbb_platform/providers/finviz/tests/test_finviz_fetchers.py
Due: pylint

invalid test param
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

static packages
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint

yfinance TypeError..?
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Due: pylint

fixed typo
  CONTRIBUTING.md
Due: none

fixed stocka typo
  website/content/terminal/usage/data/data-sources.md
Due: none

update workflows name to tutorial
  website/content/pro/tutorials/_category_.json
  website/content/pro/tutorials/ai.md
  website/content/pro/tutorials/bring-data.md
  website/content/pro/tutorials/data-to-charts.md
  website/content/pro/tutorials/index.md
  website/content/pro/tutorials/layouts-watchlist.md
  website/content/pro/tutorials/overlay.md
  website/content/pro/tutorials/report.md
  website/content/pro/workflows/_category_.json
Due: none

update title
  website/content/pro/tutorials/index.md
Due: none

get barebones to bring in Excel videos
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/installation.md
  website/content/excel/getting-started/templates.mdx
  website/content/excel/reference/_category_.json
  website/content/pro/tutorials/index.md
Due: none

added etf trading hours
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  openbb_terminal/stocks/tradinghours/tradinghours_helper.py
Due: pylint, reserved_args

hotfix/intrinio-dividends-limit: Fix Limit Param Alias (#5951)
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_dividends_fetcher.yaml
Due: pylint

process class recursivly
  argparse_translator/argparse_class_processor.py
Due: pylint

remove unused function
  website/generate_excel_markdown.py
Due: pylint

add comment
  website/generate_excel_markdown.py
Due: pylint

regenerate
  website/content/excel/openapi.json
Due: none

fix a few examples
  website/content/excel/openapi.json
  website/content/excel/reference/docs_map.json
  website/content/excel/reference/economy/fred_series.md
  website/content/excel/reference/equity/fundamental/historical_attributes.md
  website/content/excel/reference/equity/fundamental/latest_attributes.md
  website/content/excel/reference/equity/fundamental/search_attributes.md
  website/generate_excel_markdown.py
Due: pylint

rename file
  website/generate_excel_markdown.py
Due: pylint

adding translators prop
  argparse_translator/argparse_class_processor.py
Due: pylint
