Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

stuff and things
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
Due: pylint

test cassettes and static assets
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher.yaml
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_options_chains_fetcher.yaml
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher.yaml
Due: pylint

options snapshots
  openbb_platform/core/openbb_core/provider/standard_models/options_snapshots.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
Due: pylint

description
  openbb_platform/core/openbb_core/provider/standard_models/options_snapshots.py
Due: pylint

commit intrinio files
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

add mortgage indices (#6501)
  openbb_platform/core/openbb_core/provider/standard_models/mortgage_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/mortgage_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_mortgage_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

[Feature] Intrinio Delayed Options (#6505)
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/standard_models/options_snapshots.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tmx/openbb_tmx/models/options_chains.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_options_chains_fetcher.yaml
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
Due: pylint

out of bonds check
  cli/openbb_cli/argparse_translator/obbject_registry.py
Due: pylint

controlling results, by index or key and displaying charts
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

autocompletion
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

adding views throught dependencies instead
  openbb_platform/extensions/currency/openbb_currency/__init__.py
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
  openbb_platform/extensions/currency/pyproject.toml
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

removing unnecessary infra and adding entry point to charting extension
  openbb_platform/extensions/crypto/openbb_crypto/__init__.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_views.py
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/economy/openbb_economy/__init__.py
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/equity/openbb_equity/__init__.py
  openbb_platform/extensions/equity/openbb_equity/equity_views.py
  openbb_platform/extensions/equity/pyproject.toml
  openbb_platform/extensions/etf/openbb_etf/__init__.py
  openbb_platform/extensions/etf/openbb_etf/etf_views.py
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/fixedincome/openbb_fixedincome/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/extensions/index/openbb_index/__init__.py
  openbb_platform/extensions/index/openbb_index/index_views.py
  openbb_platform/extensions/index/pyproject.toml
  openbb_platform/extensions/technical/openbb_technical/__init__.py
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
  openbb_platform/extensions/technical/pyproject.toml
Due: pylint

fixed income toml
  openbb_platform/extensions/fixedincome/pyproject.toml
Due: none

removing accessor
  openbb_platform/core/openbb_core/app/model/extension.py
Due: pylint

typo
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/equity/pyproject.toml
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/fixedincome/pyproject.toml
  openbb_platform/extensions/index/pyproject.toml
  openbb_platform/extensions/technical/pyproject.toml
Due: none

adding extra params to obbject
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

remove things from init
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
Due: pylint

rename utils to charts instead
  openbb_platform/extensions/crypto/openbb_crypto/crypto_views.py
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
  openbb_platform/extensions/equity/openbb_equity/equity_views.py
  openbb_platform/extensions/etf/openbb_etf/etf_views.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/extensions/index/openbb_index/index_views.py
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_historical.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_performance.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/relative_rotation.py
Due: pylint

fix: update fallback message
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/tests/app/static/test_container.py
Due: pylint

deps
  cli/poetry.lock
  cli/pyproject.toml
Due: none

test file name
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_mortgage_indices_fetcher.yaml
Due: none

[Feature] Adds Router Path For Economic Surveys (#6498)
  openbb_platform/core/openbb_core/provider/standard_models/manufacturing_outlook_texas.py
  openbb_platform/core/openbb_core/provider/standard_models/senior_loan_officer_survey.py
  openbb_platform/core/openbb_core/provider/standard_models/survey_of_economic_conditions_chicago.py
  openbb_platform/core/openbb_core/provider/standard_models/university_of_michigan.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/manufacturing_outlook_texas.py
  openbb_platform/providers/fred/openbb_fred/models/senior_loan_officer_survey.py
  openbb_platform/providers/fred/openbb_fred/models/survey_of_economic_conditions_chicago.py
  openbb_platform/providers/fred/openbb_fred/models/university_of_michigan.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_manufacturing_outlook_texas_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_mortgage_indices_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_senior_loan_officer_survey_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_survey_of_economic_conditions_chicago_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_university_of_michigan_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

feat: improve fallback message
  openbb_platform/core/openbb_core/app/constants.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/tests/app/static/test_container.py
Due: pylint

updated readme
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
  openbb_platform/obbject_extensions/charting/README.md
Due: pylint

forward ref
  cli/openbb_cli/argparse_translator/reference_processor.py
Due: pylint

[Feature] Charting Modularity (#6477)
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_views.py
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
  openbb_platform/extensions/currency/pyproject.toml
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/equity/openbb_equity/equity_views.py
  openbb_platform/extensions/equity/pyproject.toml
  openbb_platform/extensions/etf/openbb_etf/etf_views.py
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/extensions/fixedincome/pyproject.toml
  openbb_platform/extensions/index/openbb_index/index_views.py
  openbb_platform/extensions/index/pyproject.toml
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
  openbb_platform/extensions/technical/pyproject.toml
  openbb_platform/obbject_extensions/charting/README.md
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/builder.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_historical.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_performance.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/relative_rotation.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

[Feature] Improved cached results (#6506)
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/argparse_translator/reference_processor.py
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/poetry.lock
  cli/pyproject.toml
Due: pylint, reserved_args

[Feature] Store defaults in hub account (#6491)
  assets/extensions/provider.json
  assets/scripts/generate_extension_data.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
Due: pylint

second return statement
  openbb_platform/providers/fred/openbb_fred/models/federal_funds_rate.py
Due: pylint

ref to docs.openbb.co
  openbb_platform/README.md
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint

fix: non blocking request
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

timeout
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

openbb-store
  openbb_platform/extensions/store/README.md
  openbb_platform/extensions/store/openbb_store/__init__.py
  openbb_platform/extensions/store/openbb_store/store.py
  openbb_platform/extensions/store/poetry.lock
  openbb_platform/extensions/store/pyproject.toml
Due: pylint

codespell
  openbb_platform/extensions/store/README.md
Due: none

enable to_df to convert a model where all fields are arrays
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/standard_models/options_snapshots.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
Due: pylint

fix chart
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
