Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

black
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

ruff
  ruff.toml
Due: none

simplify
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

black
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/tests/test_controllers_settings_controller.py
Due: pylint, reserved_args

fix: raise if all providers fail
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

fix: remove dead line
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

fix: rename defaults field to commands
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

rename key and update docs
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  website/content/cli/data-sources.md
Due: pylint

fix: rename some stuff
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
Due: pylint

fix bug
  openbb_platform/core/openbb_core/app/model/defaults.py
Due: pylint

fix: mypy
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

add json_schema_extra choices to provider 'period' field
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement_growth.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement_growth.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Due: pylint

fix: unittests
  openbb_platform/core/tests/app/model/test_defaults.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_provider_interface.py
  openbb_platform/core/tests/provider/test_registry_map.py
Due: pylint

docstring
  openbb_platform/core/openbb_core/app/provider_interface.py
Due: pylint

fix: provider field description
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
Due: pylint

black
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
Due: pylint

fix: error messages
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Due: pylint

fix: msg
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

unused imports
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

mypy
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Due: pylint

pytest
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Due: pylint

minor updates to examples
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

[BugFix] Revamp the usage of list syntax on routines (#6450)
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/tests/test_controllers_settings_controller.py
  ruff.toml
Due: pylint, reserved_args

feat: update defaults class
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

feat: update defaults class
  openbb_platform/core/openbb_core/app/model/defaults.py
Due: pylint

unit tests
  openbb_platform/core/tests/app/static/test_container.py
Due: pylint

fix test
  openbb_platform/core/tests/app/model/test_defaults.py
Due: pylint

change titles and order suggestion - cc @IgorWounds @piiq
  website/content/platform/getting_started/map_a_provider_to_a_route.mdx
  website/content/platform/user_guides/add_command_examples.mdx
  website/content/platform/user_guides/add_data_provider_extension.mdx
  website/content/platform/user_guides/add_data_to_existing_endpoint.mdx
  website/content/platform/user_guides/add_endpoint_to_existing_provider.mdx
  website/content/platform/user_guides/add_obbject_extension.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
Due: none

msg
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/tests/app/static/test_container.py
Due: pylint

fix: move api.dockerfile
  build/docker/api.dockerfile
Due: none

fix: move api.dockerfile (#6454)
  build/docker/api.dockerfile
Due: none

static assets
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/fixedincome_government.py
Due: pylint

core
  openbb_platform/core/pyproject.toml
Due: none

openbb ; bump patch versions of all packages
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Due: none

cli bump versions
  cli/poetry.lock
  cli/pyproject.toml
Due: none

better publish.md
  build/pypi/openbb_platform/PUBLISH.md
Due: none

static assets: bumped versions
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
Due: pylint
