Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

logo
  assets/extensions/provider.json
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
Due: pylint

logo
  assets/extensions/provider.json
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

pylint
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
Due: pylint

[Feature] - Create repo assets directory (#6384)
  assets/README.md
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/EXTENSIONS.md
  openbb_platform/PROVIDERS.md
  openbb_platform/assets/providers.json
  openbb_platform/core/openbb_core/app/model/extension.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Due: pylint

fix econ calendar
  openbb_platform/core/openbb_core/provider/standard_models/economic_calendar.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_economic_calendar_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Due: pylint

black
  openbb_platform/core/openbb_core/provider/standard_models/economic_calendar.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Due: pylint

more black
  openbb_platform/core/openbb_core/provider/standard_models/economic_calendar.py
Due: pylint

pylint
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

add 1 to n_urls
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

[Feature] Remove i18n (#6390)
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/poetry.lock
  cli/pyproject.toml
Due: pylint, reserved_args

some more updates
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/index.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/usage/hub.md
Due: none

set default dates in transform query
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

missing decorator
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

Send an explicit message when return type isn't an OBBject
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Remove unused old code
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

Remvove from settings choices
  cli/openbb_cli/controllers/settings_controller.py
Due: pylint, reserved_args

Fix CLI exit when FileNotFound error on routine
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

Fix Excel Data Slicer page.
  website/content/excel/data-slicer.md
Due: none

Unit test batch 1
  cli/tests/test_cli.py
  cli/tests/test_controllers_base_controller.py
  cli/tests/test_controllers_base_platform_controller.py
  cli/tests/test_controllers_choices.py
  cli/tests/test_models_settings.py
  cli/tests/test_session.py
Due: pylint, reserved_args

some routine stuff
  website/content/cli/commands-and-arguments.md
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/routines/_category_.json
  website/content/cli/routines/advanced-routines.md
  website/content/cli/routines/community-routines.md
  website/content/cli/routines/index.mdx
  website/content/cli/routines/introduction-to-routines.md
  website/content/cli/routines/routine-macro-recorder.md
  website/content/cli/structure-and-navigation.md
  website/content/cli/usage/_category_.json
  website/content/cli/usage/commands-and-arguments.md
  website/content/cli/usage/keyboard-hotkey-macros.md
  website/content/cli/usage/routines/community-routines.md
  website/content/cli/usage/routines/index.mdx
  website/content/cli/usage/routines/pipeline-of-commands.md
  website/content/cli/usage/routines/routine-macro-recorder.md
Due: none

codespell
  website/content/cli/commands-and-arguments.md
  website/content/cli/data-sources.md
  website/content/cli/quickstart.md
Due: none

CLI controller
  cli/tests/test_controllers_cli_controller.py
Due: pylint, reserved_args

forward_pe
  openbb_platform/core/openbb_core/provider/standard_models/forward_pe_estimates.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_pe_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

ruff
  openbb_platform/core/openbb_core/provider/standard_models/forward_pe_estimates.py
Due: pylint

add None to literal
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
Due: pylint

poetry lock
  cli/poetry.lock
Due: none

[Feature] Update CLI dependencies (#6389)
  cli/poetry.lock
  cli/pyproject.toml
Due: none

[BugFix] - Remove unused old code (#6395)
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Due: pylint, reserved_args

remove hold command and its references
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

remove --local flag as we don't use it anymore @IgorWounds
  cli/openbb_cli/controllers/cli_controller.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint, reserved_args

reset package folder
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
Due: pylint

reset reference
  openbb_platform/openbb/assets/reference.json
Due: none

unnecessary line break removed
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

remove hold command and its references (#6399)
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

fix: alias credentials with uppercase
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
Due: pylint

fix: alias credentials with uppercase (#6400)
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
Due: pylint

Update package_builder.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Fix Excel Data Slicer page. (#6396)
  website/content/excel/data-slicer.md
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
