Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

rename handler
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
Due: pylint

rename base handler
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
Due: pylint

[Feature] Balance Of Payments For FRED (#6431)
  openbb_platform/core/openbb_core/provider/standard_models/balance_of_payments.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/balance_of_payments.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_balance_of_payments_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

[Feature] Improve Exception handlers (#6430)
  openbb_platform/CONTRIBUTING.md
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/utils/errors.py
  website/content/excel/index.md
Due: pylint

use shlex for spliting the user input
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

fix: only update credentials on login
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/tests/app/service/test_user_service.py
Due: pylint

use shlex for spliting the user input (#6436)
  cli/openbb_cli/controllers/base_controller.py
Due: pylint, reserved_args

remove space from literals
  openbb_platform/providers/sec/openbb_sec/utils/definitions.py
Due: pylint

fix: only update credentials on login (#6437)
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/tests/app/service/test_user_service.py
Due: pylint

Remove excel export from cli interactive tables code
  frontend-components/tables/src/components/Table/Export.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/utils/utils.ts
Due: none

Remove vulnerable dependency
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Due: none

remove space from literals (#6438)
  openbb_platform/providers/sec/openbb_sec/utils/definitions.py
Due: pylint

Bump black in devtools and pre-commit
  .pre-commit-config.yaml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

stashing
  openbb_platform/core/openbb_core/provider/standard_models/compare_company_facts.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/compare_company_facts.py
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

more stashing
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

add bs4 to sec pyproject.toml
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Due: none

get
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_ebitda_estimates.py
Due: pylint

list instead of dict
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_ebitda_estimates.py
Due: pylint

Remove pdf export functionality from cli and charting extensions
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/utils.py
  frontend-components/plotly/src/components/Chart.tsx
  frontend-components/plotly/src/utils/utils.ts
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
  website/content/cli/data-sources.md
  website/content/cli/quickstart.md
Due: pylint, reserved_args

ignore the env created on the dev container (which lives inside the project folder)
  .gitignore
Due: none

broken urls
  cli/README.md
Due: none

remove endpoint
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
Due: pylint

empty file
  openbb_platform/core/tests/app/test_charting_manager.py
Due: pylint

deprecate
  openbb_platform/core/openbb_core/provider/standard_models/etf_holdings_performance.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_holdings_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Due: pylint

ruff
  openbb_platform/core/tests/app/test_deprecation.py
Due: pylint

[Feature] Deprecate `etf.holdings_performance` endpoint (#6441)
  .gitignore
  cli/README.md
  openbb_platform/core/openbb_core/provider/standard_models/etf_holdings_performance.py
  openbb_platform/core/tests/app/test_charting_manager.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_holdings_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Due: pylint

fix: ruff updates
  .pre-commit-config.yaml
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/registry.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/relative_rotation.py
  openbb_platform/poetry.lock
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  ruff.toml
Due: pylint

remove TODO
  openbb_platform/core/pyproject.toml
Due: none

lock cli
  cli/poetry.lock
Due: none

[Feature] Forward EBITDA (#6433)
  openbb_platform/core/openbb_core/provider/standard_models/forward_ebitda_estimates.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/forward_ebitda_estimates.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_forward_ebitda_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_ebitda_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_ebitda_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

add tests
  openbb_platform/core/openbb_core/provider/standard_models/compare_company_facts.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/sec/openbb_sec/models/compare_company_facts.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_compare_company_facts_fetcher.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Due: pylint

black
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

test params
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
Due: pylint

mypy
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

more mypy
  openbb_platform/providers/sec/openbb_sec/models/compare_company_facts.py
Due: pylint

grammar police
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
Due: pylint

[Feature] Compare Company Facts (SEC) (#6444)
  openbb_platform/core/openbb_core/provider/standard_models/compare_company_facts.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/compare_company_facts.py
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_compare_company_facts_fetcher.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Due: pylint
