Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

remove qa forex
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_controller.py
Due: pylint, reserved_args

remove oanda
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/oanda/oanda_controller.py
Due: pylint, reserved_args

remove forex
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/forex/test_forex_controller.py
Due: pylint, reserved_args

remove forex
  openbb_terminal/forex/README.md
  openbb_terminal/forex/__init__.py
  openbb_terminal/forex/av_model.py
  openbb_terminal/forex/av_view.py
  openbb_terminal/forex/data/av_forex_currencies.csv
  openbb_terminal/forex/data/polygon_tickers.csv
  openbb_terminal/forex/data/yahoofinance_forex.json
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/fxempire_model.py
  openbb_terminal/forex/fxempire_view.py
  openbb_terminal/forex/oanda/oanda_model.py
  openbb_terminal/forex/oanda/oanda_view.py
  openbb_terminal/forex/polygon_model.py
  openbb_terminal/forex/quantitative_analysis/__init__.py
  openbb_terminal/forex/sdk_helpers.py
  openbb_terminal/forex/technical_analysis/__init__.py
Due: pylint

remove forex
  openbb_terminal/__init__.py
Due: pylint

remove mention to fx_tickers
  openbb_terminal/reports/reports_model.py
Due: pylint

remove ta crypto
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
Due: pylint, reserved_args

remove qa crypto
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
Due: pylint, reserved_args

remove dd crypto
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Due: pylint, reserved_args

remove crypto controller
  openbb_terminal/cryptocurrency/crypto_controller.py
  tests/openbb_terminal/cryptocurrency/test_crypto_controller.py
Due: pylint, reserved_args

remove economy controller
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/economy/test_economy_controller.py
Due: pylint, reserved_args

remove economy folder
  openbb_terminal/__init__.py
  openbb_terminal/economy/README.md
  openbb_terminal/economy/__init__.py
  openbb_terminal/economy/commodity_model.py
  openbb_terminal/economy/commodity_view.py
  openbb_terminal/economy/datasets/NASDAQ_CountryCodes.csv
  openbb_terminal/economy/datasets/cpi.csv
  openbb_terminal/economy/datasets/harmonized_cpi.csv
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/economy_helpers.py
  openbb_terminal/economy/fedreserve_model.py
  openbb_terminal/economy/fedreserve_view.py
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/nasdaq_view.py
  openbb_terminal/economy/oecd_model.py
  openbb_terminal/economy/oecd_view.py
  openbb_terminal/economy/plot_view.py
  openbb_terminal/economy/quantitative_analysis/__init__.py
  openbb_terminal/economy/sdk_helpers.py
  openbb_terminal/economy/wsj_model.py
  openbb_terminal/economy/wsj_view.py
  openbb_terminal/economy/yfinance_model.py
  openbb_terminal/economy/yfinance_view.py
Due: pylint

remoe etf controller
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/etf/test_etf_controller.py
Due: pylint, reserved_args

remove reports controller
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/reports/test_reports_controller.py
Due: pylint, reserved_args

remove dashboards controller
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove alt controller
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/alternative/test_alt_controller.py
Due: pylint, reserved_args

rmeove etf files
  openbb_terminal/etf/README.md
  openbb_terminal/etf/__init__.py
  openbb_terminal/etf/discovery/disc_controller.py
  openbb_terminal/etf/discovery/wsj_model.py
  openbb_terminal/etf/discovery/wsj_view.py
  openbb_terminal/etf/etf_helper.py
  openbb_terminal/etf/etfs.csv
  openbb_terminal/etf/financedatabase_model.py
  openbb_terminal/etf/financedatabase_view.py
  openbb_terminal/etf/fmp_model.py
  openbb_terminal/etf/fmp_view.py
  openbb_terminal/etf/stockanalysis_model.py
  openbb_terminal/etf/stockanalysis_view.py
  openbb_terminal/etf/technical_analysis/ta_controller.py
Due: pylint, reserved_args

remove alt files
  openbb_terminal/alternative/__init__.py
  openbb_terminal/alternative/companieshouse/companieshouse_controller.py
  openbb_terminal/alternative/companieshouse/companieshouse_model.py
  openbb_terminal/alternative/companieshouse/companieshouse_view.py
  openbb_terminal/alternative/companieshouse/company.py
  openbb_terminal/alternative/companieshouse/company_doc.py
  openbb_terminal/alternative/companieshouse/filing_data.py
  openbb_terminal/alternative/hackernews_model.py
  openbb_terminal/alternative/hackernews_view.py
  openbb_terminal/alternative/oss/github_model.py
  openbb_terminal/alternative/oss/github_view.py
  openbb_terminal/alternative/oss/oss_controller.py
  openbb_terminal/alternative/oss/runa_model.py
  openbb_terminal/alternative/oss/runa_view.py
  openbb_terminal/alternative/realestate/__init__.py
  openbb_terminal/alternative/realestate/landRegistry_model.py
  openbb_terminal/alternative/realestate/landRegistry_view.py
  openbb_terminal/alternative/realestate/realestate_controller.py
Due: pylint, reserved_args

remove custom reports
  openbb_terminal/custom_reports/lunar_crash/coin_highs.png
  openbb_terminal/custom_reports/lunar_crash/luna_crash.html
  openbb_terminal/custom_reports/lunar_crash/luna_supply.png
  openbb_terminal/custom_reports/lunar_crash/luna_terra.png
  openbb_terminal/custom_reports/lunar_crash/lunatics.ipynb
  openbb_terminal/custom_reports/lunar_crash/tvl.png
  openbb_terminal/custom_reports/lunar_crash/ust_terra.png
Due: none

remove dashboard files
  openbb_terminal/dashboards/__init__.py
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/__init__.py
  openbb_terminal/dashboards/stream/common_vars.py
  openbb_terminal/dashboards/stream/pages/Chains.py
  openbb_terminal/dashboards/stream/pages/Correlation.py
  openbb_terminal/dashboards/stream/pages/Futures.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/stream/pages/Options.py
  openbb_terminal/dashboards/stream/pages/Short_Data.py
  openbb_terminal/dashboards/stream/pages/Stocks.py
  openbb_terminal/dashboards/stream/streamlit_helpers.py
  openbb_terminal/dashboards/streamlit_run.py
  openbb_terminal/dashboards/voila/chains.ipynb
  openbb_terminal/dashboards/voila/correlation.ipynb
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/futures.ipynb
  openbb_terminal/dashboards/voila/shortdata.ipynb
  openbb_terminal/dashboards/voila/stocks.ipynb
Due: pylint

remove econometrics controller
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/econometrics/test_econometrics_controller.py
Due: pylint, reserved_args

remove forecast controller
  openbb_terminal/__init__.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/forecast/test_forecast_controller.py
Due: pylint, reserved_args

remove reports files
  openbb_terminal/reports/.ipynb_checkpoints/test-checkpoint.html
  openbb_terminal/reports/README.md
  openbb_terminal/reports/__init__.py
  openbb_terminal/reports/data/crypto_tickers.csv
  openbb_terminal/reports/data/etf_tickers.csv
  openbb_terminal/reports/data/stocks_tickers.csv
  openbb_terminal/reports/reports_model.py
  openbb_terminal/reports/stored/.gitkeep
  openbb_terminal/reports/stored/20220512_040312_equity_NVDA.html
  openbb_terminal/reports/templates/OpenBB_reports_logo.png
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/floppy-disc.png
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
  openbb_terminal/reports/widget_helpers.py
  openbb_terminal/reports/widgets/card.j2
  openbb_terminal/reports/widgets/report.css
  openbb_terminal/reports/widgets/report.j2
  openbb_terminal/reports/widgets/row.j2
  openbb_terminal/reports/widgets/style.css
Due: pylint

remove econometrics files
  openbb_terminal/econometrics/__init__.py
  openbb_terminal/econometrics/econometrics_helpers.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/econometrics/regression_model.py
  openbb_terminal/econometrics/regression_view.py
Due: pylint

remove futures
  openbb_terminal/futures/__init__.py
  openbb_terminal/futures/databento_view.py
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/futures_helper.py
  openbb_terminal/futures/sdk_helper.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove fixedincome
  openbb_terminal/fixedincome/__init__.py
  openbb_terminal/fixedincome/commercial_paper.csv
  openbb_terminal/fixedincome/corporate_spot_rates.csv
  openbb_terminal/fixedincome/ecb_model.py
  openbb_terminal/fixedincome/ecb_view.py
  openbb_terminal/fixedincome/fixedincome_controller.py
  openbb_terminal/fixedincome/fred_model.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/ice_bofa_indices.csv
  openbb_terminal/fixedincome/oecd_model.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/fixedincome/yfinance_model.py
  openbb_terminal/fixedincome/yfinance_view.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove funds
  openbb_terminal/mutual_funds/README.md
  openbb_terminal/mutual_funds/__init__.py
  openbb_terminal/mutual_funds/avanza_fund_ID.csv
  openbb_terminal/mutual_funds/avanza_model.py
  openbb_terminal/mutual_funds/avanza_view.py
  openbb_terminal/mutual_funds/mstarpy_model.py
  openbb_terminal/mutual_funds/mstarpy_view.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/mutual_funds/mutual_funds_utils.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove all from init
  openbb_terminal/__init__.py
Due: pylint

remove reference to ipykernel
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove reference to ta_helpers
  openbb_terminal/core/plots/plotly_ta/data_classes.py
Due: pylint

remove reference to ta_helpers
  openbb_terminal/__init__.py
  openbb_terminal/core/plots/plotly_ta/data_classes.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/helper_funcs.py
Due: pylint

add exception handler decorator
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Due: pylint

add exception handler decorator code
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

updated static
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

cleanup
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/test_helper_funcs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
