Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

add bs4 to sec pyproject.toml (#6440)
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Due: none

Remove posthog from interactive table html template
  frontend-components/tables/index.html
Due: none

bump black
  .pre-commit-config.yaml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

Incorporate additional styles to the index.css
  frontend-components/tables/src/index.css
Due: none

Update the deploy command
  frontend-components/tables/package.json
Due: none

print message only if the file was actually created
  cli/openbb_cli/controllers/utils.py
Due: pylint

fix: lock sec
  openbb_platform/providers/sec/poetry.lock
Due: none

Update the built static file and deploy script
  frontend-components/plotly/package.json
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
Due: none

fix: sec test
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
Due: pylint

fix: replace toml with tomlkit in test
  openbb_platform/tests/test_pyproject_toml.py
Due: pylint

Update css to use fonts from google
  frontend-components/plotly/src/index.css
Due: none

Bump bundled plotly js version
  openbb_platform/obbject_extensions/charting/openbb_charting/core/assets/plotly-2.24.2.min.js
  openbb_platform/obbject_extensions/charting/openbb_charting/core/assets/plotly-2.32.0.min.js
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint

Bump dependencies
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
Due: none

Reorganize and edit. Fix sidebar navigation
  website/content/platform/developer_guide/command_coverage.mdx
  website/content/platform/developer_guide/deprecating_endpoints.mdx
  website/content/platform/developer_guide/documentation_development.mdx
  website/content/platform/getting_started/api_keys.mdx
  website/content/platform/getting_started/api_requests.mdx
  website/content/platform/getting_started/create_new_provider_extension.mdx
  website/content/platform/getting_started/create_new_router_extension.mdx
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/financial_statements.mdx
  website/content/platform/getting_started/find_symbols.mdx
  website/content/platform/getting_started/historical_prices.mdx
  website/content/platform/getting_started/index.mdx
  website/content/platform/getting_started/map_a_provider_to_a_route.mdx
  website/content/platform/getting_started/market_calendars.mdx
  website/content/platform/getting_started/quickstart.mdx
  website/content/platform/getting_started/settings_and_environment_variables.mdx
  website/content/platform/index.mdx
  website/content/platform/installation.mdx
  website/content/platform/user_guides/basic_response.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/dynamic_command_execution.mdx
  website/content/platform/user_guides/index.mdx
  website/content/platform/user_guides/llm_mode.mdx
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Due: none

Update lock file hashes
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
Due: none

Remove xlsx export from CLI's interactive tables (#6439)
  frontend-components/plotly/package.json
  frontend-components/tables/index.html
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  frontend-components/tables/src/components/Table/Export.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  frontend-components/tables/src/utils/utils.ts
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
Due: none

feat: allow provider fallback based on credentials
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

fix: rename prop and raise error
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

Fix broken linkages
  website/content/platform/developer_guide/contributing.mdx
  website/content/platform/user_guides/add_data_provider_extension.mdx
  website/content/platform/user_guides/add_data_to_existing_endpoint.mdx
  website/content/platform/user_guides/add_endpoint_to_existing_provider.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_syntax.mdx
Due: none

Edit
  website/content/platform/developer_guide/index.mdx
Due: none

[DOCS] Reorganize and edit. Fix sidebar navigation (#6445)
  website/content/platform/developer_guide/command_coverage.mdx
  website/content/platform/developer_guide/contributing.mdx
  website/content/platform/developer_guide/deprecating_endpoints.mdx
  website/content/platform/developer_guide/documentation_development.mdx
  website/content/platform/developer_guide/index.mdx
  website/content/platform/getting_started/api_keys.mdx
  website/content/platform/getting_started/api_requests.mdx
  website/content/platform/getting_started/create_new_provider_extension.mdx
  website/content/platform/getting_started/create_new_router_extension.mdx
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/financial_statements.mdx
  website/content/platform/getting_started/find_symbols.mdx
  website/content/platform/getting_started/historical_prices.mdx
  website/content/platform/getting_started/index.mdx
  website/content/platform/getting_started/map_a_provider_to_a_route.mdx
  website/content/platform/getting_started/market_calendars.mdx
  website/content/platform/getting_started/quickstart.mdx
  website/content/platform/getting_started/settings_and_environment_variables.mdx
  website/content/platform/index.mdx
  website/content/platform/installation.mdx
  website/content/platform/user_guides/add_data_provider_extension.mdx
  website/content/platform/user_guides/add_data_to_existing_endpoint.mdx
  website/content/platform/user_guides/add_endpoint_to_existing_provider.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_response.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/dynamic_command_execution.mdx
  website/content/platform/user_guides/index.mdx
  website/content/platform/user_guides/llm_mode.mdx
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Due: none

Remove dev dependencies section from cli
  cli/poetry.lock
  cli/pyproject.toml
Due: none

Remove anyio pin as it's brought in by others
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Due: none

Bump idna to patched version
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Due: none

Bump requests to latest
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Due: none

Fix links
  website/content/platform/faqs/data_providers.mdx
  website/content/platform/index.mdx
Due: none

fix: addback platform api.dockerfile
  build/docker/api.dockerfile
Due: none

fix: add back api.dockerfile
  build/pypi/docker/api.dockerfile
Due: none

push deprecation
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
Due: pylint

fix: add back api.dockerfile (#6449)
  build/pypi/docker/api.dockerfile
Due: none

Fix broken links
  website/content/platform/developer_guide/extensions.mdx
  website/content/platform/user_guides/add_obbject_extension.mdx
Due: none

Reword CLA part in the Licensing FAQ
  website/content/platform/licensing/index.mdx
Due: none

using list syntax on routines
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
