Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

better error message cc @IgorWounds
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

bugfix branch name checks and few fixes on the linting not to run on pushes to branches outside PRs
  .github/workflows/branch-name-check.yml
  .github/workflows/linting.yml
Due: none

Fix QA Examples (#6072)
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Due: pylint

Update branch naming guidelines link
  .github/workflows/branch-name-check.yml
  CONTRIBUTING.md
Due: none

[Feature] - Ensure Bugfix branches can only do PRs to `develop` branches (#6073)
  .github/workflows/branch-name-check.yml
  .github/workflows/linting.yml
  CONTRIBUTING.md
Due: none

Edit workflow to not look at deleted files + change bootup message
  .github/workflows/linting.yml
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
Due: none

better structure and fix test
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

Dont pin the workflow to my branch always lol
  .github/workflows/linting.yml
Due: none

Revert "better structure and fix test"
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Due: pylint

Revert "better error message cc @IgorWounds"
  openbb_platform/core/openbb_core/app/model/obbject.py
Due: pylint

feat: price target
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
Due: pylint

marking multiple items allowed
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
Due: pylint

Revert "marking multiple items allowed"
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
Due: pylint

bezinga company news
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
Due: pylint

error msg
  openbb_platform/core/openbb_core/app/static/utils/filters.py
Due: pylint

Fix CAPM example
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Due: pylint

equity quote
  openbb_platform/providers/cboe/openbb_cboe/models/equity_quote.py
Due: pylint

Fix CAPM example (#6075)
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Due: pylint

recapture cassette
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_regional_fetcher.yaml
Due: none

router doctstring
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
Due: pylint

more multiple items
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
Due: pylint

black
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
Due: pylint

rebuild
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

another batch
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
Due: pylint

rebuild
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

another
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_attributes.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/latest_attributes.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
Due: pylint

Remove askobb
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

Start removing dead v3 commands for deprecation (#6070)
  .github/workflows/linting.yml
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/covid/__init__.py
  openbb_terminal/alternative/covid/countries.txt
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/covid/covid_model.py
  openbb_terminal/alternative/covid/covid_view.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_model.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_model.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/hedge/hedge_model.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/terminal_controller.py
  terminal.py
Due: pylint, reserved_args

fix: default provider runtime vs configuration
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/tests/app/test_utils.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

minor fix
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

docstring
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

revert default changes
  openbb_platform/core/openbb_core/app/command_runner.py
Due: pylint

get provider before executing cmd
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

fix container bug
  openbb_platform/core/openbb_core/app/static/container.py
Due: pylint

clean filter
  openbb_platform/core/openbb_core/app/static/utils/filters.py
Due: pylint

add comment
  openbb_platform/core/openbb_core/app/static/utils/filters.py
Due: pylint

prevent bad defaults
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

update docstring
  openbb_platform/core/openbb_core/provider/abstract/query_params.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
