Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

fred cassette
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_federal_funds_rate_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

commercial paper
  openbb_platform/core/openbb_core/provider/standard_models/commercial_paper.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/commercial_paper.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_commercial_paper_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

cp series map
  openbb_platform/providers/fred/openbb_fred/models/commercial_paper.py
  openbb_platform/providers/fred/openbb_fred/utils/commercial_paper.csv
Due: pylint

fix tests
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_controllers_settings_controller.py
  cli/tests/test_controllers_utils.py
Due: pylint, reserved_args

fix test
  cli/tests/test_controllers_utils.py
Due: pylint

undo changes
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

[Feature] ICE BofAML Bond Indices (FRED) (#6486)
  openbb_platform/core/openbb_core/provider/standard_models/bond_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_indices_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

[Feature] CLI logging (#6487)
  cli/openbb_cli/cli.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/utils/utils.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
Due: pylint, reserved_args

Remove cli image and docs
  build/docker/cli.dockerfile
  website/content/cli/installation.md
Due: none

feat: store defaults in hub account
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/static/account.py
Due: pylint

fix: rename var
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

feat: v3Credentials -> deprecatedCredentials
  assets/extensions/provider.json
  assets/scripts/generate_extension_data.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
Due: pylint

feat: allow unmapped deprecations
  openbb_platform/core/openbb_core/provider/abstract/provider.py
Due: pylint

convert params models to dict
  cli/openbb_cli/argparse_translator/obbject_registry.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

fix: account.save()
  openbb_platform/core/openbb_core/app/service/hub_service.py
Due: pylint

update cli test
  cli/tests/test_argparse_translator_obbject_registry.py
Due: pylint

fix test_static_command_runner_chart
  openbb_platform/core/tests/app/test_command_runner.py
Due: pylint

mock_obbject results
  openbb_platform/core/tests/app/test_command_runner.py
Due: pylint

update sofr and add federal_reserve to endpoint
  openbb_platform/core/openbb_core/provider/standard_models/sofr.py
  openbb_platform/core/openbb_core/provider/standard_models/sofr_rates.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/sofr.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_sofr_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/sofr.py
  openbb_platform/providers/fred/openbb_fred/models/sofr_rates.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_sofr_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredsofr_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

examples
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_rate.py
Due: pylint

Updated forecast api
  openbb_platform/extensions/forecast/integration/test_forecast_api.py
  openbb_platform/extensions/forecast/integration/test_forecast_python.py
  openbb_platform/extensions/forecast/openbb_forecast/regression/regression_router.py
  openbb_platform/extensions/forecast/openbb_forecast/statistical/statistical_router.py
  openbb_platform/extensions/forecast/openbb_forecast/torch/torch_router.py
Due: pylint

update ameribor
  openbb_platform/core/openbb_core/provider/standard_models/ameribor.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/ameribor.py
  openbb_platform/providers/fred/openbb_fred/models/ameribor_rates.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_ameribor_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredameribor_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

maturity_dict
  openbb_platform/providers/fred/openbb_fred/models/ameribor.py
Due: pylint

add overnight bank funding rate
  openbb_platform/core/openbb_core/provider/standard_models/overnight_bank_funding_rate.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/overnight_bank_funding_rate.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_overnight_bank_funding_rate_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

fix broken urls
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/installation.md
  website/content/platform/user_guides/extensions.mdx
Due: none

couple more
  website/content/platform/developer_guide/index.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_syntax.mdx
Due: none

remove poetry install openbb_platform from docs generation.
  .github/workflows/deploy-gh-pages.yml
Due: none

Try it this way.
  .github/workflows/deploy-gh-pages.yml
Due: none

add federal reserve to obfr
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/overnight_bank_funding_rate.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_overnight_bank_funding_rate_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Due: pylint

pop footnoteId
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/overnight_bank_funding_rate.py
Due: pylint

central bank holdings descriptions
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/central_bank_holdings.py
Due: pylint

move moody's bond indices to the bond_indices endpoint
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
Due: pylint

add it to the INDEX_CHOICES
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
Due: pylint

Fix config
  website/docusaurus.config.ts
Due: none

improve hqm
  openbb_platform/core/openbb_core/provider/standard_models/high_quality_market.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/high_quality_market.py
  openbb_platform/providers/fred/openbb_fred/models/hqm.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_high_quality_market_corporate_bond_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint

handle none
  openbb_platform/providers/fred/openbb_fred/models/high_quality_market.py
Due: pylint

add treasury minus fed funds to yield curve
  openbb_platform/providers/fred/openbb_fred/models/high_quality_market.py
  openbb_platform/providers/fred/openbb_fred/models/yield_curve.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
Due: pylint

static assets
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_government.py
Due: pylint

estr
  openbb_platform/core/openbb_core/provider/standard_models/estr_rates.py
  openbb_platform/core/openbb_core/provider/standard_models/euro_short_term_rate.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/estr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/euro_short_term_rate.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_euro_short_term_rate_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredestr_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Due: pylint
