Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

adjustments to choices
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

update tests
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_world_news_fetcher.yaml
Due: pylint

multiple symbols for polygon
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
Due: pylint

remove old sdk generator
  generate_sdk.py
Due: pylint

remove mention to dashboards
  terminal.py
Due: pylint

ruff
  terminal.py
Due: pylint

cleanup
  openbb_terminal/base_helpers.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/test_base_helpers.py
Due: pylint, reserved_args

don't include pageSize in Benzinga querystring, fixed as 100
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
Due: pylint

remove logging infra
  CONTRIBUTING.md
  openbb_terminal/account/account_controller.py
  openbb_terminal/base_helpers.py
  openbb_terminal/core/log/__init__.py
  openbb_terminal/core/log/collection/__init__.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/log/collection/logging_clock.py
  openbb_terminal/core/log/collection/s3_sender.py
  openbb_terminal/core/log/constants.py
  openbb_terminal/core/log/generation/__init__.py
  openbb_terminal/core/log/generation/common.py
  openbb_terminal/core/log/generation/custom_logger.py
  openbb_terminal/core/log/generation/directories.py
  openbb_terminal/core/log/generation/expired_files.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/core/log/generation/path_tracking_file_handler.py
  openbb_terminal/core/log/generation/settings.py
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/core/log/generation/user_logger.py
  openbb_terminal/core/plots/plotly_ta/data_classes.py
  openbb_terminal/core/session/sdk_session.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/decorators.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/loggers.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  tests/conftest.py
  tests/openbb_terminal/core/log/generation/test_directories.py
  tests/openbb_terminal/test_debug_mode.py
  tests/openbb_terminal/test_loggers.py
  website/controller_doc_classes.py
Due: pylint, reserved_args

remove decorators
  openbb_terminal/decorators.py
Due: pylint

remove sdk audit
  openbb_terminal/core/scripts/__init__.py
  openbb_terminal/core/scripts/sdk_audit.py
Due: pylint

remove extra space
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
Due: pylint

remove tought of the day
  openbb_terminal/thought_of_the_day.py
  tests/openbb_terminal/test_thought_of_the_day.py
Due: pylint

remove tought of the day
  openbb_terminal/terminal_helper.py
Due: pylint

fix commands andmenus choices
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

rebuild to fix docstring indentation
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/equity.py
Due: pylint

[Feature] - Add `exception_handler` decorator to static (#6112)
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Due: pylint

update extensions list
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/toolkit_extensions.md
Due: none

black
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
Due: pylint

unused imports
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
Due: pylint

black
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
Due: pylint

missing params
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Due: pylint

increase timeout to 30
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
Due: pylint

" to ' in econometrics/causality
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
Due: pylint

add missing field descriptions to yfinance equity price historical
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Due: pylint

replace ' with " in ReferenceCard for reference dir index files
  website/generate_platform_v4_markdown.py
Due: pylint

remove extra . from the quantile function description
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
Due: pylint

shoutout to @deeleeramone for finding POST method description bug!
  website/generate_platform_v4_markdown.py
Due: pylint

add obbject method for field descriptions
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
Due: pylint

slightly different way
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
Due: pylint

update extensions list (#6114)
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/toolkit_extensions.md
Due: none

add missing field descriptions to yfinance equity price historical (#6116)
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Due: pylint

fixing lints
  openbb_terminal/account/account_controller.py
  openbb_terminal/base_platform_controller.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/plots/plotly_ta/data_classes.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/session/sdk_session.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/platform_controller_factory.py
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

remove charting extension env var
  openbb_platform/core/openbb_core/env.py
Due: pylint

ruffs
  argparse_translator/argparse_translator.py
  tests/conftest.py
  tests/openbb_terminal/test_debug_mode.py
  tests/test_generate_sdk.py
Due: pylint

remove charting extension env var (#6118)
  openbb_platform/core/openbb_core/env.py
Due: pylint

deps trim
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
