Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

bump core version
  openbb_platform/core/pyproject.toml
Due: none

Release/openbb charting 2.1.3 (#6529)
  .github/workflows/draft-release.yml
  .github/workflows/gh-branch-name-check.yml
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/core/tests/app/service/test_system_service.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
  openbb_platform/openbb/assets/reference.json
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/biztoc/openbb_biztoc/utils/helpers.py
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/biztoc/pyproject.toml
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_world_news_fetcher.yaml
  openbb_platform/providers/biztoc/tests/test_biztoc_fetchers.py
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_equity_screener_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Due: pylint

Release/openbb charting 2.1.3 (#6528)
  .github/workflows/gh-branch-name-check.yml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Due: none

Bump website deps to patched versions
  website/package.json
  website/yarn.lock
Due: none

initialize class from file
  openbb_platform/extensions/store/openbb_store/store.py
Due: pylint

fix: test openapi.json
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Due: pylint

Bump scikit-learn to a patched version
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/extensions/technical/pyproject.toml
Due: none

Run urllib3 update on lock files
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/sec/poetry.lock
Due: none

Bump ipykernel that brings in tornado to devtools
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

Apply braces patch in frontend-components
  frontend-components/plotly/package-lock.json
  frontend-components/tables/package-lock.json
Due: none

Drop python 3.8 from devtools support
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: none

Bump dev environment to python >=3.10 to get rid of ullib3 v1 in lock files
  openbb_platform/dev_install.py
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Due: pylint

Downgrade and pin numpy to 1.x until pandas-ta supports 2.x
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/extensions/technical/pyproject.toml
Due: none

Bump runners checkout and cache actions and python version
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/general-linting.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
Due: none

Fix platform hub integration test
  .secrets.baseline
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

Update dev install script to allow python 3.9
  openbb_platform/dev_install.py
Due: pylint

Bump actions to versions that use node 20 vs node 16
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/general-linting.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
  .secrets.baseline
Due: none

Bump exchange calendars package to resolve deprecation warnings
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
Due: none

black
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_info.py
  openbb_platform/core/openbb_core/provider/standard_models/euro_short_term_rate.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_performance.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
  openbb_platform/providers/ecb/openbb_ecb/models/balance_of_payments.py
  openbb_platform/providers/ecb/openbb_ecb/utils/ecb_helpers.py
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_performance.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_auctions.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/helpers.py
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/growth_tech_equities.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_large_caps.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Due: pylint

more black
  openbb_platform/extensions/etf/openbb_etf/etf_views.py
Due: pylint

Integration test batch 1
  cli/integration/test_integration_base_controller.py
  cli/integration/test_integration_base_platform_controller.py
  cli/integration/test_integration_cli_controller.py
  cli/integration/test_integration_hub_service.py
  cli/integration/test_integration_obbject_registry.py
Due: pylint, reserved_args

Mark test
  cli/integration/test_integration_obbject_registry.py
Due: pylint

fix: test openapi.json (#6530)
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Due: pylint

pylint
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
Due: pylint

Raise on FMP Error message
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

bad indent
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Due: pylint

charting settings
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
Due: pylint

charting backend
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Due: pylint

black
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/core/openbb_core/app/model/metadata.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/base.py
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
  openbb_platform/providers/econdb/openbb_econdb/models/country_profile.py
Due: pylint

charting_settings
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
Due: pylint

missing nasdaq import
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/helpers.py
Due: pylint

nasdaq mypy
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
Due: pylint

fed money measure
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/money_measures.py
Due: pylint

some linting
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/ecb/openbb_ecb/utils/ecb_helpers.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/central_bank_holdings.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/overnight_bank_funding_rate.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/tmx/openbb_tmx/models/available_indices.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_constituents.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_sectors.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
Due: pylint

black
  openbb_platform/providers/ecb/openbb_ecb/utils/ecb_helpers.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
Due: pylint

more linting
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_constituents.py
  openbb_platform/providers/ecb/openbb_ecb/utils/ecb_helpers.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/sofr.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_auctions.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_search.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
Due: pylint

more linting
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_constituents.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
