Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

change package builder and argparse translator to account for custom chocies defined in providers
  cli/openbb_cli/argparse_translator/argparse_translator.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

clean some workflows and setup actions
  .github/scripts/noxfile.py
  .github/workflows/README.md
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/labels-issue.yml
  .github/workflows/linting.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pypi.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
  .github/workflows/unit-test.yml
Due: pylint

auto completion for main menu commands; cached results style
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

test
  openbb_platform/dev_install.py
Due: pylint

rename wfs
  .github/workflows/README.md
  .github/workflows/general-linting.yml
  .github/workflows/gh-pr-labels.yml
  .pre-commit-config.yaml
Due: none

rename
  .github/workflows/README.md
  .github/workflows/draft-release.yml
Due: none

move platform settings above
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

update action
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
Due: none

default reference
  openbb_platform/openbb/assets/reference.json
Due: none

[Feature] Custom Provider choices available on the `reference.json` (#6409)
  cli/openbb_cli/argparse_translator/argparse_translator.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Due: pylint

Skip
  cli/tests/test_controllers_cli_controller.py
Due: pylint, reserved_args

don't check if obbject.results - we want to have the error message if smt goes wrong with the to_df()
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

[BugFix] - Replace python-jose by PyJWT (#6407)
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/app/service/test_hub_service.py
Due: pylint

register only if there are results
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
Due: pylint, reserved_args

minor style change
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

[Feature] Styling adjustments (#6408)
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Due: pylint, reserved_args

mention platform cli
  README.md
Due: none

cli color
  website/src/theme/Navbar/Layout/index.js
Due: none

results in the global commands
  website/content/cli/commands-and-arguments.md
  website/package-lock.json
Due: none

test platform imgs
  README.md
Due: none

increase codeBlock line-height
  website/src/theme/CodeBlock/Content/styles.module.css
Due: none

Update README.md
  README.md
Due: none

break line
  README.md
Due: none

remove platform warning, obb is a class
  website/content/platform/installation.md
Due: none

minor change, danger warning
  website/content/cli/quickstart.md
Due: none

typo?
  website/content/cli/quickstart.md
Due: none

Data processing commands
  website/content/cli/quickstart.md
Due: none

add platform imgs
  images/platform-dark.svg
  images/platform-light.svg
Due: none

add platform imgs (#6410)
  images/platform-dark.svg
  images/platform-light.svg
Due: none

Update to Platform images
  README.md
Due: none

remove old images
  images/openbb-logo-dark.svg
  images/openbb-logo-light.svg
Due: none

[Feature] Main README (#6403)
  README.md
  images/openbb-logo-dark.svg
  images/openbb-logo-light.svg
Due: none

fix cli tests
  cli/openbb_cli/config/menu_text.py
  cli/tests/test_argparse_translator_obbject_registry.py
  cli/tests/test_config_menu_text.py
Due: pylint

[Feature] - OpenBB Platform CLI Unit tests (#6397)
  .github/scripts/noxfile.py
  .github/workflows/README.md
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/draft-release.yml
  .github/workflows/general-linting.yml
  .github/workflows/gh-pr-labels.yml
  .github/workflows/labels-issue.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pypi.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
  .github/workflows/unit-test.yml
  .pre-commit-config.yaml
  cli/openbb_cli/config/menu_text.py
  cli/tests/test_argparse_translator.py
  cli/tests/test_argparse_translator_obbject_registry.py
  cli/tests/test_cli.py
  cli/tests/test_config_completer.py
  cli/tests/test_config_console.py
  cli/tests/test_config_menu_text.py
  cli/tests/test_config_setup.py
  cli/tests/test_config_style.py
  cli/tests/test_controllers_base_controller.py
  cli/tests/test_controllers_base_platform_controller.py
  cli/tests/test_controllers_choices.py
  cli/tests/test_controllers_cli_controller.py
  cli/tests/test_controllers_controller_factory.py
  cli/tests/test_controllers_script_parser.py
  cli/tests/test_controllers_settings_controller.py
  cli/tests/test_controllers_utils.py
  cli/tests/test_models_settings.py
  cli/tests/test_session.py
  openbb_platform/dev_install.py
Due: pylint, reserved_args

[Feature] CLI docs (#6362)
  cli/openbb_cli/controllers/settings_controller.py
  website/content/cli/_category_.json
  website/content/cli/commands-and-arguments.md
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/routines/_category_.json
  website/content/cli/routines/advanced-routines.md
  website/content/cli/routines/community-routines.md
  website/content/cli/routines/index.mdx
  website/content/cli/routines/introduction-to-routines.md
  website/content/cli/routines/routine-macro-recorder.md
  website/content/cli/structure-and-navigation.md
  website/content/platform/installation.md
  website/package-lock.json
  website/sidebars.js
  website/src/components/General/NewReferenceCard.tsx
  website/src/theme/CodeBlock/Content/styles.module.css
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/Navbar/Layout/index.js
Due: pylint, reserved_args

add linux stuff to pre-requisites
  website/content/cli/installation.md
Due: none

add linux stuff to pre-requisites (#6411)
  website/content/cli/installation.md
Due: none

Update lock file after the python-jose removal
  openbb_platform/core/poetry.lock
Due: none

Fix technical example
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Due: pylint

Remove blocking wf command
  .github/workflows/gh-pages.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
