Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

Improve fetcher test error messages (#6204)
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
Due: pylint

review things
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_search.py
Due: pylint

[Feature] Add Intrinio ETF Info/Search (#6198)
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_search.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_info_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_search_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

remove duplicate standard params & data from reference data
  openbb_platform/core/openbb_core/app/static/package_builder.py
  website/generate_platform_v4_markdown.py
Due: pylint

Remove reports
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

[Enhancement] `ReferenceGenerator` class in `package_builder.py` (#6179)
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/assets/reference.json
  website/generate_platform_v4_markdown.py
Due: pylint

Launch Message
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  poetry.lock
  pyproject.toml
Due: none

syntax updates
  website/content/platform/usage/financial_statements.md
Due: none

Actual launch message
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
Due: none

Correct leaving message
  openbb_terminal/terminal_helper.py
Due: pylint

json file
  website/content/platform/development/how-to/_category_.json
Due: none

update etf static file
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
Due: pylint

data processing docstrings can be empty
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Update version
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
Due: none

Final v3 touches (#6205)
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
Due: pylint, reserved_args

[BugFix] Fix empty docstring in data processing functions (#6206)
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
Due: pylint

update byod docs
  website/content/excel/data-connectors.md
Due: none

add Intrinio ETF Holdings
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_holdings.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_holdings_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

etf performance
  openbb_platform/core/openbb_core/provider/standard_models/recent_performance.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_performance.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_performance_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

capture symbol in warning
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_performance.py
Due: pylint

linter
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_performance.py
Due: pylint

Update deploy to gh pages condition
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

obbject params stored as a list of dict
  openbb_platform/core/openbb_core/app/static/package_builder.py
  website/generate_platform_v4_markdown.py
Due: pylint

process field types further
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

Separate standard models in registry map
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Due: pylint

fix
  openbb_platform/core/openbb_core/provider/registry_map.py
Due: pylint

Add unit tests
  .gitignore
  openbb_platform/extensions/econometrics/tests/.gitkeep
  openbb_platform/extensions/econometrics/tests/test_econometrics_utils.py
  openbb_platform/extensions/quantitative/tests/.gitkeep
  openbb_platform/extensions/quantitative/tests/test_quantitative_helpers.py
  openbb_platform/extensions/technical/tests/.gitkeep
  openbb_platform/extensions/technical/tests/test_technical_helpers.py
  openbb_platform/obbject_extensions/charting/tests/test_charting_core_ta_helpers.py
  openbb_platform/providers/tradingeconomics/tests/test_url_generator.py
  openbb_platform/providers/yfinance/tests/.gitkeep
  openbb_platform/providers/yfinance/tests/test_yfinance_helpers.py
Due: pylint

Release tasks
  build/docker/compose.env
  build/nsis/setup.nsi
  build/pyinstaller/version.rc
  openbb_terminal/core/models/system_model.py
  pyproject.toml
Due: pylint

Missed the website files
  build/nsis/setup.nsi
  website/content/terminal/changelog/version2_0_0.mdx
  website/content/terminal/changelog/version2_1_0.mdx
  website/content/terminal/changelog/version2_2_0.mdx
  website/content/terminal/changelog/version2_3_0.mdx
  website/content/terminal/changelog/version2_3_1.mdx
  website/content/terminal/changelog/version2_4_0.mdx
  website/content/terminal/changelog/version2_4_1.mdx
  website/content/terminal/changelog/version2_5_0.mdx
  website/content/terminal/changelog/version2_5_1.mdx
  website/content/terminal/changelog/version3_0_0.mdx
  website/content/terminal/changelog/version3_0_1.mdx
  website/content/terminal/changelog/version3_1_0.mdx
  website/content/terminal/changelog/version3_2_0.mdx
  website/content/terminal/changelog/version3_2_1.mdx
  website/content/terminal/changelog/version3_2_2.mdx
  website/content/terminal/changelog/version3_2_3.mdx
  website/content/terminal/changelog/version3_2_4.mdx
  website/content/terminal/changelog/version3_2_5.mdx
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/windows.md
  website/pypi.md
Due: none

regenerate docs
  website/content/excel/functions.json
  website/content/excel/openapi.json
Due: none

Allow `hotfix` branch to be merged with `develop` branch
  .github/workflows/branch-name-check.yml
Due: none

Add unit tests (#6213)
  .gitignore
  openbb_platform/extensions/econometrics/tests/.gitkeep
  openbb_platform/extensions/econometrics/tests/test_econometrics_utils.py
  openbb_platform/extensions/quantitative/tests/.gitkeep
  openbb_platform/extensions/quantitative/tests/test_quantitative_helpers.py
  openbb_platform/extensions/technical/tests/.gitkeep
  openbb_platform/extensions/technical/tests/test_technical_helpers.py
  openbb_platform/obbject_extensions/charting/tests/test_charting_core_ta_helpers.py
  openbb_platform/providers/tradingeconomics/tests/test_url_generator.py
  openbb_platform/providers/yfinance/tests/.gitkeep
  openbb_platform/providers/yfinance/tests/test_yfinance_helpers.py
Due: pylint

Try manual trigger
  .github/workflows/build-release.yml
Due: none

Update branch name check to allow docs branch merge to main
  .github/workflows/branch-name-check.yml
Due: none

Update build-release.yml
  .github/workflows/build-release.yml
Due: none

Update build-release.yml (#6215)
  .github/workflows/build-release.yml
Due: none

process field type correctly
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint

fixed models
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/calendar_ipo.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_nbbo.py
Due: pylint

mypy suggestion was sus
  openbb_platform/core/openbb_core/app/static/package_builder.py
Due: pylint
