Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

Update darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
Due: pylint

minor fix
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/openbb/package/equity_calendar.py
Due: pylint

shorts examples
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
Due: pylint

examples
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
Due: pylint

black
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
Due: pylint

remove file that shouldn't have been added to the commit
  openbb_platform/providers/ecb/openbb_ecb/models/treasury_rates.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
Due: pylint

Update unit-test workflow to check for changes to openbb_platform
  .github/workflows/unit-test.yml
Due: none

ruff
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
Due: pylint

black
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
Due: pylint

fix: package mypy
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/trailing_dividend_yield.py
  openbb_platform/openbb/package/equity_fundamental.py
Due: pylint

types
  openbb_platform/core/openbb_core/app/model/abstract/tagged.py
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
Due: pylint

black
  openbb_platform/core/openbb_core/app/model/abstract/tagged.py
Due: pylint

Update unit-test workflow to check for changes to openbb_platform (#6109)
  .github/workflows/unit-test.yml
Due: none

[Bug fix] - Fix package mypy (#6110)
  openbb_platform/core/openbb_core/app/model/abstract/tagged.py
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/trailing_dividend_yield.py
  openbb_platform/openbb/package/equity_fundamental.py
Due: pylint

Remove '_' from the cards under Commands section
  website/generate_platform_v4_markdown.py
Due: pylint

deps
  poetry.lock
Due: none

Add bring-your-own-copilot section.
  website/content/pro/copilot/bring-your-own-copilot.md
  website/content/pro/copilot/index.md
Due: none

better output
  openbb_terminal/base_platform_controller.py
Due: pylint, reserved_args

handling base models
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

comment call_news
  openbb_terminal/terminal_controller.py
Due: pylint, reserved_args

[Feature] - Equity router descriptions & examples (#6103)
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
Due: pylint

remove news
  openbb_terminal/common/biztoc_model.py
  openbb_terminal/common/biztoc_view.py
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/common/feedparser_view.py
  openbb_terminal/common/news_sdk_helper.py
  openbb_terminal/common/ultima_newsmonitor_view.py
  openbb_terminal/sdk.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/common/test_feedparser_model.py
  tests/openbb_terminal/common/test_feedparser_view.py
  tests/openbb_terminal/common/test_ultima_newsmonitor_view.py
Due: pylint, reserved_args

remove keys controller
  openbb_terminal/core/sdk/models/__init__.py
  openbb_terminal/core/sdk/models/keys_sdk_model.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/keys_view.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/test_keys_controller.py
Due: pylint, reserved_args

remove settings controller
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/test_settings_controller.py
Due: pylint, reserved_args

remove ta forex
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/technical_analysis/ta_controller.py
  tests/openbb_terminal/forex/technical_analysis/test_ta_controller.py
  tests/openbb_terminal/forex/test_forex_controller.py
Due: pylint, reserved_args

remove qa economy
  openbb_terminal/__init__.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/economy/quantitative_analysis/test_qa_controller.py
Due: pylint, reserved_args

remove ta stocks
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
Due: pylint, reserved_args

remove qa stocks
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/quantitative_analysis/test_qa_controller.py
Due: pylint, reserved_args

remove fa stocks
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
Due: pylint, reserved_args

remove ins stocks
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/insider/test_insider_controller.py
Due: pylint, reserved_args

remove gov stocks
  openbb_terminal/stocks/government/gov_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/government/test_gov_controller.py
Due: pylint, reserved_args

remove dps stocks
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/dark_pool_shorts/test_dps_controller.py
Due: pylint, reserved_args

remove ba stocks
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/test_ba_controller.py
Due: pylint, reserved_args

remove bt stocks
  openbb_terminal/stocks/backtesting/bt_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/backtesting/test_bt_controller.py
Due: pylint, reserved_args

remove stocks base controller class
  openbb_terminal/parent_classes.py
Due: pylint

ruff
  openbb_terminal/parent_classes.py
Due: pylint
