Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

pylint:
  name: pylint
  entry: pylint
  language: system

reserved_args:
  name: Check validity of reserved arguments
  entry: python custom_pre_commit/check_reserved_args.py
  language: system

black..
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Due: pylint

patch tests
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Due: pylint

polygon income: eps -> basic earnings per share
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
Due: pylint

platform vs sdk faq page
  website/content/platform/faqs/_category_.json
  website/content/platform/faqs/platform_vs_sdk.md
Due: none

re-capture terminal portfolio menu test
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Due: none

pylint
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
Due: pylint

add data and data providers faq section and some style cards
  website/content/platform/faqs/data_providers.md
  website/content/platform/faqs/index.mdx
Due: none

typo
  website/content/platform/faqs/data_providers.md
Due: none

poetry lock
  poetry.lock
Due: none

requirements
  requirements-full.txt
  requirements.txt
Due: none

remove cached env
  .github/workflows/gh-pages.yml
Due: none

pytest
  .github/workflows/gh-pages.yml
Due: none

importlib_metadata
  .github/workflows/gh-pages.yml
Due: none

split steps and use poetry run
  .github/workflows/gh-pages.yml
Due: none

activate venv
  .github/workflows/gh-pages.yml
Due: none

Fix test
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
Due: pylint

Skip ultima integration tests
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Due: pylint

hotfix/financials-field-maps: Updates A Couple FMP/Polygon Income Statement Fields (#5907)
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Due: pylint

Fix test (#5916)
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Due: pylint

makes changes as per reviews
  website/content/platform/faqs/data_providers.md
  website/content/platform/faqs/platform_vs_sdk.md
Due: none

Add OECD unemployment + data cache idea
  openbb_platform/core/openbb_core/provider/standard_models/unemployment.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/oecd/pyproject.toml
Due: pylint

regen excel md
  website/content/excel/reference/library/crypto/price/historical.md
  website/content/excel/reference/library/currency/price/historical.md
  website/content/excel/reference/library/equity/fundamental/balance.md
  website/content/excel/reference/library/equity/fundamental/cash.md
  website/content/excel/reference/library/equity/fundamental/income.md
  website/content/excel/reference/library/equity/fundamental/ratios.md
  website/content/excel/reference/library/equity/price/historical.md
  website/content/excel/reference/library/index/market.md
  website/content/excel/reference/library/news/company.md
  website/content/excel/reference/library/news/world.md
Due: none

renovate insider_trading standard model
  openbb_platform/core/openbb_core/provider/standard_models/insider_trading.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/models/insider_trading.py
  openbb_platform/providers/tmx/tests/test_tmx_fetchers.py
Due: pylint

Docstring edits
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
Due: pylint

Tests
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_forecast_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_nominal_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_real_gdp_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Due: pylint

replace zeros with none and normalize percents
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
Due: pylint

pylint unused argument
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
Due: pylint

fix tests
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_insider_trading_fetcher.yaml
Due: pylint

typo
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
Due: pylint

hotfix/fmp-price-performance-zeros: Replace returned zero with None and normalize percent values. (#5918)
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
Due: pylint

Update index.md (#5906)
  website/content/pro/index.md
Due: none

fix example
  website/content/excel/reference/library/equity/fundamental/historical_attributes.md
  website/content/excel/reference/library/equity/fundamental/latest_attributes.md
  website/content/excel/reference/library/equity/fundamental/search_attributes.md
  website/content/excel/reference/library/equity/fundamental/transcript.md
  website/generate_excel_markdown.py
Due: pylint

ameribor_rates
  openbb_platform/core/openbb_core/provider/standard_models/ameribor_rates.py
  openbb_platform/providers/fred/openbb_fred/models/ameribor_rates.py
Due: pylint

openbb-nightly as a way to install everything
  website/content/platform/faqs/data_providers.md
Due: none

skip supressed arguments
  openbb_terminal/core/completer/choices.py
Due: pylint

silent way of customly load on quote
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
Due: pylint, reserved_args

specify source for call_load
  tests/openbb_terminal/stocks/test_stocks_controller.py
Due: pylint, reserved_args

create json with docs map
  website/content/excel/reference/docs_map.json
  website/generate_excel_markdown.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  reserved_args: any of: .*_controller\.py$ and \.py$
