Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

fix: move custom_prompt_toolkit.py to config and delete completer/
  openbb_terminal/core/config/custom_prompt_toolkit.py
  openbb_terminal/core/controllers/base_controller.py
  openbb_terminal/core/controllers/base_platform_controller.py
  openbb_terminal/core/controllers/featflags_controller.py
  openbb_terminal/core/controllers/terminal_controller.py
Due: pylint, reserved_args

fix: rename custom_prompt_toolkit.py to completer.py
  openbb_terminal/core/config/completer.py
  openbb_terminal/core/controllers/base_controller.py
  openbb_terminal/core/controllers/base_platform_controller.py
  openbb_terminal/core/controllers/featflags_controller.py
  openbb_terminal/core/controllers/terminal_controller.py
Due: pylint, reserved_args

fix: move rouines stuff to folder
  openbb_terminal/core/session/routines/__init__.py
  openbb_terminal/core/session/routines/account_view.py
  openbb_terminal/core/session/routines/routine_functions.py
  openbb_terminal/core/session/routines/routines_handler.py
Due: pylint

^ oops
  openbb_terminal/core/controllers/terminal_controller.py
Due: pylint, reserved_args

[Feature] Warn limit number of countries in TE request (#6334)
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
Due: pylint

add default=None
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
Due: pylint

Summarize Changelog
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
  summarize_chanelog.py
Due: pylint

patch intrinio news
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

pylint
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
Due: pylint

mypy
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
Due: pylint

no need to assign articles var before len
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
Due: pylint

more pylint
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
Due: pylint

other assignment
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
Due: pylint

pop redundant fields
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
Due: pylint

field mappings
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
Due: pylint

[BugFix] Intrinio News (#6336)
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Due: pylint

Edits
  argparse_translator/argparse_class_processor.py
  argparse_translator/argparse_translator.py
  openbb_terminal/__init__.py
  openbb_terminal/cli.py
  openbb_terminal/core/__init__.py
  openbb_terminal/core/config/__init__.py
  openbb_terminal/core/config/completer.py
  openbb_terminal/core/config/config_terminal.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/rich_config.py
  openbb_terminal/core/controllers/base_controller.py
  openbb_terminal/core/controllers/base_platform_controller.py
  openbb_terminal/core/controllers/choices.py
  openbb_terminal/core/controllers/featflags_controller.py
  openbb_terminal/core/controllers/helper_funcs.py
  openbb_terminal/core/controllers/menu.py
  openbb_terminal/core/controllers/platform_controller_factory.py
  openbb_terminal/core/controllers/terminal_controller.py
  openbb_terminal/core/controllers/terminal_helper.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/models/settings.py
  openbb_terminal/core/session/__init__.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/current_settings.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/hub_service.py
  openbb_terminal/core/session/launcher.py
  openbb_terminal/core/session/routines/__init__.py
  openbb_terminal/core/session/routines/account_view.py
  openbb_terminal/core/session/routines/routine_functions.py
  openbb_terminal/core/session/routines/routines_handler.py
  openbb_terminal/core/session/utils.py
Due: pylint, reserved_args

fix: settings import
  openbb_terminal/core/controllers/terminal_controller.py
Due: pylint, reserved_args

fix: openbb command
  pyproject.toml
Due: none

Fix routine record when local user
  openbb_terminal/core/controllers/base_controller.py
Due: pylint, reserved_args

Lint
  openbb_terminal/core/controllers/terminal_controller.py
Due: pylint, reserved_args

Summarize Changelog (#6335)
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
  summarize_chanelog.py
Due: pylint

rename the summarize changelog file
  summarize_changelog.py
Due: pylint

rename the summarize changelog file (#6338)
  summarize_changelog.py
Due: pylint

add snowflake integration video
  website/content/pro/data-connectors/native-integrations.md
Due: none

add snowflake integration video (#6339)
  website/content/pro/data-connectors/native-integrations.md
Due: none

Remove quickexit
  openbb_terminal/core/controllers/featflags_controller.py
  openbb_terminal/core/controllers/terminal_controller.py
  openbb_terminal/core/models/settings.py
Due: pylint, reserved_args

Add pip install requests openai to the workflow file
  .github/workflows/draft-release.yml
Due: none

Add pip install requests openai to the workflow file (#6341)
  .github/workflows/draft-release.yml
Due: none

move routines
  openbb_terminal/src/session/routines/__init__.py
  openbb_terminal/src/session/routines/hub.py
  openbb_terminal/src/session/routines/parser.py
Due: pylint

Fix timezone change
  openbb_terminal/core/controllers/helper_funcs.py
Due: pylint

Fix lowercase symbols
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Due: pylint

Create session to handle console, user, settings, etc.
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_terminal/src/cli.py
  openbb_terminal/src/config/console.py
  openbb_terminal/src/config/constants.py
  openbb_terminal/src/config/env.py
  openbb_terminal/src/config/paths.py
  openbb_terminal/src/config/setup.py
  openbb_terminal/src/config/style.py
  openbb_terminal/src/controllers/base_controller.py
  openbb_terminal/src/controllers/base_platform_controller.py
  openbb_terminal/src/controllers/choices.py
  openbb_terminal/src/controllers/feature_flags_controller.py
  openbb_terminal/src/controllers/hub_service.py
  openbb_terminal/src/controllers/intro.json
  openbb_terminal/src/controllers/menu.py
  openbb_terminal/src/controllers/script_parser.py
  openbb_terminal/src/controllers/terminal_controller.py
  openbb_terminal/src/controllers/terminal_helper.py
  openbb_terminal/src/controllers/utils.py
  openbb_terminal/src/models/__init__.py
  openbb_terminal/src/models/base_model.py
  openbb_terminal/src/models/settings.py
  openbb_terminal/src/models/singleton.py
  openbb_terminal/src/session.py
  openbb_terminal/src/session/__init__.py
  openbb_terminal/src/session/console.py
  openbb_terminal/src/session/routines/__init__.py
  openbb_terminal/src/session/settings.py
  openbb_terminal/src/session/user.py
Due: pylint, reserved_args

Reset...
  openbb_terminal/src/controllers/utils.py
  openbb_terminal/src/models/settings.py
  openbb_terminal/src/session.py
Due: pylint

rename vars
  openbb_terminal/src/config/style.py
  openbb_terminal/src/controllers/feature_flags_controller.py
Due: pylint, reserved_args

remove doc
  openbb_terminal/src/config/style.py
Due: pylint

fix period
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Due: pylint
