Repository OpenBB-finance/OpenBB: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, reserved_args

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.285"
    hooks:
      - id: ruff
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: [tomli]
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: '^openbb_platform/.*\.py$'
        exclude: 'tests/.*\.py|openbb_platform/test_.*\.py'
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: codespell
        args:
          [
            "--ignore-words-list=VAI,MIS,shs,gard,te,commun,parana,ro,zar,vie,hel,jewl,zlot,ba,buil,coo,ether,hist,hsi,mape,navagation,operatio,pres,ser,yeld,shold,ist,varian,datas,ake,creat,statics,ket,toke,certi,buidl,ot,fo",
            "--quiet-level=2",
            "--skip=./**/tests/**,./**/test_*.py,.git,*.css,*.csv,*.html,*.ini,*.ipynb,*.js,*.json,*.lock,*.scss,*.txt,*.yaml,build/pyinstaller/*,./website/config.toml",
            "-x=openbb_terminal/economy/fedreserve_model.py",
            "-x=.github/workflows/linting.yml"
          ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        language: python
        "types_or": [python, pyi]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: Strip notebooks output
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "cassettes/.*|record/.*|website/content/api/.*|openbb_platform/extensions/charting/openbb_charting/infrastructure/assets/.*\\.js|openbb_platform/extensions/charting/openbb_charting/infrastructure/.*\\.html",
          ]
    exclude: package.lock.json
  - repo: local
    hooks:
      - id: reserved_args
        name: Check validity of reserved arguments
        entry: python custom_pre_commit/check_reserved_args.py
        language: system
        types: [python]
        files: .*_controller\.py$

ruff
  openbb_platform/core/openbb_core/app/router.py
Due: pylint

black
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/extensions/index/openbb_index/index_router.py
Due: pylint

static assets
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
Due: pylint

format w new black
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

pin codespell version
  .github/workflows/linting.yml
Due: none

black
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

black again
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

install devtools in linting action
  .github/workflows/linting.yml
Due: none

Update `openbb-devtools` (#6008)
  .github/workflows/linting.yml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_terminal/keys_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  website/content/platform/extensions/toolkit_extensions.md
  website/content/terminal/menus/stocks/comparison.md
  website/content/terminal/usage/keyboard-hotkey-macros.md
Due: pylint

format w new black
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/helpers_denomination.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  openbb_terminal/stocks/discovery/finviz_view.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/insider/openinsider_view.py
Due: pylint, reserved_args

black again
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

black the terminal
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/helpers_denomination.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  openbb_terminal/stocks/discovery/finviz_view.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/insider/openinsider_view.py
Due: pylint, reserved_args

ignoring unused arguments
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
Due: pylint

format w new black (#6009)
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Due: pylint

tests
  openbb_platform/core/tests/app/static/test_package_builder.py
Due: pylint

black
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/helpers_denomination.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  openbb_terminal/stocks/discovery/finviz_view.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/insider/openinsider_view.py
Due: pylint, reserved_args

Revert "black"
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/eu_yield_curve.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
Due: pylint

Revert "black"
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/helpers_denomination.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  openbb_terminal/stocks/discovery/finviz_view.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/insider/openinsider_view.py
Due: pylint, reserved_args

black for henrique
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/builder.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/data_classes.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/to_chart.py
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/helpers.py
Due: pylint

returning a list instead
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/data_classes.py
Due: pylint

better docstrings
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

removing unnecessary indicators docstring
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

typo
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

lint
  openbb_platform/core/openbb_core/provider/standard_models/world_news.py
Due: pylint

fix: requirements-full.txt to reduce vulnerabilities
  requirements-full.txt
Due: none

using parametrization instead
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/extensions/index/openbb_index/index_router.py
Due: pylint

black
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

remove reviewpad
  reviewpad.yaml
Due: none

intentional access to protected member
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

changes to publish script
  build/pypi/openbb_platform/publish.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Due: pylint

filtering deleted files
  .github/workflows/linting.yml
Due: none

Refactor variable names and update method comments
  .github/workflows/changelog.yml
Due: none

Update user authentication logic
  changelog.py
Due: pylint

convert tsx to json
  examples/content.json
Due: none
